<div class="blurb">
<div class="header warning"><h1><i class="fas fa-exclamation-triangle"></i> Warnings!</h1></div>
<div class="body"><i class="fa-solid fa-triangle-exclamation"></i>
<ul>
<li><span>For <b>medical</b> or <b>nutritional advice</b>, <i>do not rely only on this
site</i>. Please <b>consult a dietician or health care professional</b>
instead.</span></li>
<li><div class="body">This site contains AI generated content. It has not yet been throughly fact checked and
edited.</div></li>
<li><span>Monosodium glutamate (MSG) and disodium glutamate (DSG) <b>do not cause disease</b>.
They may only <b>exacerbate existing symptoms</b>
<sup><a href="#src-disclaim-exacerbate">114</a>, <a href="#src-disclaim-cause">118</a></sup>,
and it is possible to have a disease or condition <b>without MSG or DSG being involved at
all</b>
<sup><a href="#src-disclaim-exacerbate">114</a>, <a href="#src-disclaim-fda-disclaim">116</a></sup>.
MSG and DSG are not intended to <b>treat, cure, or prevent any disease</b>
<sup><a href="#src-disclaim-treat-cure">115</a>, <a href="#src-disclaim-fda-disclaim">116</a></sup>.
These statements have <b>not been evaluated by the U.S. Food and Drug
Administration (FDA)</b>
<sup><a href="#src-disclaim-fda-disclaim">116</a>, <a href="#src-disclaim-structure-function">117</a></sup>.</span></li>
</ul>
</div>
</div>
</div>
