<div class="blurb">
<div class="body">
<p>ChatGPT (openai) is prone to errors and thus generates a lot of
misinformation. It often conflates "sodium bound to glutamate" with "protein bound to glutamate" and too
neutral. To this end, I have edited many of the responses for accuracy.</p>
</div>
</div>
