<div class="blurb">
{*<div class="header"><h1>summary</h1></div>*}
<div class="body">
<ul>
<li>there is too much profit in treating the symptoms of disodium
glutayate to actually see it disclosed and/or eradicated from the american
diet.</li>
<li>I will grudgingly accept MSG occuring naturally because the chance is
greater than zero</li>
<li>What I need to know is how much "achilles" (monosodium glutamate,
disodium glutayate, etc) is being added to my food, so I can make
sure I consume a "safe" amount.</li>
<li>MSG = monosodium + glutamate</li>
<li><a href="https://en.wikipedia.org/wiki/Disodium_guanylate">disodium guanylate</a> is MSG<sup>2</sup></li>
<li>glutamate is one of 20 ammino acids that is non-essential (the body does
not need to produce it, typically bound to protein in food).</li>
<li>it is <i>possible</i> for MSG to form during the cooking process, thus the term &quot;no msg&quot; is &quot;impossible&quot;. correct term is &quot;no added msg&quot;</li>
<li>&quot;<a href="https://medlineplus.gov/ency/article/001126.htm">MSG Symptoms Complex</a>&quot; is a newer name for "Chinese Restaurant Syndrome"</li>
<li>glutamate is a <a href="https://en.wikipedia.org/wiki/Neurotransmitter">neurotransmitter</a>, which is part of the normal function of the
body. does it attack other types of cells?</li>
<li><a href="https://en.wikipedia.org/wiki/Excitotoxicity">Excitotoxicity</a> -- too much glutamate</li>
<li>any restaurant is going to see MSG as one way to lower food cost, especially in the QSRs</li>
<li>no chef worth their jacket would use MSG in their kitchen(s)</li>
<li>sodium from table salt plus sodium from MSG = ?</li>
<li>"Glutamate excitotoxicity (sometimes called a glutamatergic storm) refers to the damage to nerve cells caused by excessive stimulation of NMDA and AMPA receptors by glutamate.” Jul 2, 2018
source: <a href="https://neurohacker.com/what-is-glutamate">What is Glutamate?</a> -- too much glutamate</li>
<li>"NMDA is an unfortunate acronym for N-methyl-D-aspartate, and this amino acid derivative is very similar to glutamate. Now glutamate is the excitatory neurotransmitter found in most synapses of the central nervous system, and pharmacologists made this analogue called NMDA to activate a sub-type of glutamate
receptors." -- source: <a href="https://dnalc.cshl.edu/view/1211-What-is-NMDA-.html">what is NMDA</a></li>
<li>"AMPA (α-amino-3-hydroxy-5-methyl-4-isoxazolepropionic acid) is a compound that is a specific
<a
href="https://www.google.com/search?client=firefox-b-1-d&sxsrf=ALeKk02P7R0zibLdkYWy7Jcj1_cxx3LfLw:1613355477152&q=Dictionary&stick=H4sIAAAAAAAAAONQesSoyi3w8sc9YSmZSWtOXmMU4-LzL0jNc8lMLsnMz0ssqrRiUWJKzeNZxMqFEAMA7_QXqzcAAAA&zx=1613355498850#dobs=agonist">agonist</a> for the AMPA receptor, where it mimics the effects of the neurotransmitter glutamate. ... AMPA generates fast excitatory postsynaptic potentials
(EPSP)." -- source <a href="https://en.wikipedia.org/wiki/AMPA">wikipedia
AMPA</a></li>
<li>"In excitotoxicity, nerve cells suffer damage or death when the levels of otherwise necessary and safe neurotransmitters such as
glutamate,..." -- source <a href="https://en.wikipedia.org/wiki/Excitotoxicity">wikipedia Excitotoxicity</a></li>
<li>"An excitatory postsynaptic potential (EPSP) is the change in membrane voltage of a postsynaptic cell following the influx of positively charged ions into a cell (typically Na+) as a result of the activation of ligand-sensitive
channels." -- source <a href="https://link.springer.com/referenceworkentry/10.1007%2F978-3-540-68706-1_618">Encyclopedia of Psychopharmacology (2010)</a></li>
<li>"Chronic inflammation of the pancreas can damage the cells that produce insulin which can lead to diabetes. Pancreatitis and type 2 diabetes share some of the same risk factors. Observational studies indicate that people with type 2 diabetes may have a two- to threefold increased risk of acute
pancreatitis." -- source <a href="https://www.healthline.com/health/diabetes-and-pancreas">The Connection Between Diabetes and Your Pancreas</a></li>
<li>"It refers to a group of symptoms some people experience after eating food from a Chinese restaurant. Today, it's known as MSG symptom complex. These symptoms often include headache, skin flushing, and sweating. A food additive called monosodium glutamate (MSG) is often blamed for these
symptoms." (2012) -- source <a
href="https://www.healthline.com/health/chinese-restaurant-syndrome">Chinese
Restaurant Complex and MSG Symptom Complex</a></li>
<li>Average intake of MSG in European and Asian countries is generally 0.3–0.5 g/day and 1.2–1.7 g/day, respectively. MSG intake of 16.0 mg/kg of body weight is generally regarded as
safe. -- source <a href="https://www.tandfonline.com/doi/full/10.1080/10942912.2017.1295260#:~:text=Average%20intake%20of%20MSG%20in,is%20generally%20regarded%20as%20safe.">Monosodium glutamate: Review on clinical reports</a> (2017)</li>
<li>Those who are sensitive to monosodium glutamate or trying to avoid it in their food should also be familiar with disodium guanylate. While this food additive doesn't have the same potential adverse effects, it's found in many of the same foods, so it's a good indicator that a food may contain MSG. source: <a href="https://www.livestrong.com/article/551058-disodium-guanylate-vs-monosodium-glutamate/">Disodium Guanylate vs. Monosodium
Glutamate</a> (2019)</li>
<li>test a sample's sodium amount, subtract it from the label's disclosure, and see if there is too much.</li>

<li>&quot;Monosodium glutamate, MSG, is a food additive commonly used to enhance the taste of processed foods and fast foods. It is often used to mask the "tinny" feeling of canned foods and to maintain a food's color. MSG can be found in anything from corn chips to tomato soups, but it is often found in high quantities in foods prepared at Chinese restaurants. An estimated 25 percent of the population severely reacts to MSG when it is ingested in high doses. MSG reactions intensify when foods containing MSG are eaten on an empty
stomach.&quot; -- source <a href="https://www.chicagotribune.com/news/ct-xpm-1994-04-03-9404030033-story.html">MSG
SENSITIVITY</a> (April 3rd, 1994)</li>
<li>&quot;MSG is freely soluble in water, but it is not hygroscopic and is insoluble in common organic solvents (such as ether). It is generally stable under food-processing conditions. MSG does not break down during cooking and, like other amino acids, will exhibit a Maillard reaction (browning) in the presence of sugars at very high temperatures.&quot; -- source <a href="https://en.wikipedia.org/wiki/Monosodium_glutamate">Monosodium glutamate page of wikipedia</a></li>
<li>&quot;Monosodium Glutamate (MSG) is a chemical commonly used to enhance taste by increasing the sensitivity of the taste buds; contrary to popular belief, it is not a food seasoning. ... There is no law stating that a restaurant must disclose the use of MSG in its dishes.&quot; source-- <a href="https://www.legalmatch.com/law-library/article/allergic-reactions-to-restaurant-foods.html#:~:text=There%20is%20no%20law%20stating,about%20the%20presence%20of%20MSG.">Allergic Reactions to Restaurant Foods</a> (Apr 17, 2018)
<li><a href="https://www.google.com/search?q=does+gfs+use+msg&oq=does+gfs+use+msg&aqs=chrome..69i57.4549j0j7&sourceid=chrome&ie=UTF-8">google: does gfs use msg?</a></li>
<li>maintain a list of <i>hidden names</i> for MSG, including <i>disodium glutayate</i> (first hand: 202008, Innovasion and 20210213 "combos stuffed -snacks" pepperoni pizza baked cracker)</li>
<li>"At high concentrations, glutamate can overexcite nerve cells, causing them to die.  Prolonged excitation is toxic to nerve cells, causing damage over time.  This is known as excitotoxicity.  Researchers are studying therapies that attempt to inhibit glutamate activity for the treatment of ALS." (added 20210623, source: <a href="https://www.everydayhealth.com/glutamate/guide/">everydayhealth.com glutamate guide</a>)</li>
<li>"The swelling squeezes the neighboring blood vessels, preventing normal blood flow and interrupting the supply of oxygen and glucose, which ultimately leads to cell death. Cell swelling, however, is reversible; the cells will shrink back once glutamate is removed from brain fluids." (added 20210623, source: <a href="https://www.dana.org/article/protecting-the-brain-from-a-glutamate-storm/#:~:text=The%20swelling%20squeezes%20the%20neighboring,is%20removed%20from%20brain%20fluids.">Protecting the Brain from a Glutamate Storm | Dana Foundation</a></li>
<li>"Typically, mass spectrometers can be used to identify unknown compounds via molecular weight determination, to quantify known compounds, and to determine structure and chemical properties of
molecules." (added 20211021, source: <a href="https://www.broadinstitute.org/technology-areas/what-mass-spectrometry">WHAT IS MASS SPECTROMETRY?</a>)</li>
<li>&quot;The letter was just a few paragraphs long. Published in the New England Journal of Medicine (NEJM) under the heading “Chinese-Restaurant Syndrome,” it began: “For several years since I have been in this country, I have experienced a strange syndrome whenever I have eaten out in a Chinese restaurant.” It went on to describe symptoms including “numbness in the back of the neck, gradually radiating to both arms and the back, general weakness, and palpitation.&quot; (added 20211021, source: <a href="https://news.colgate.edu/magazine/2019/02/06/the-strange-case-of-dr-ho-man-kwok/">The Strange Case of Dr. Ho Man Kwok</a>)</li>
<li><a href="https://fivethirtyeight.com/features/how-msg-got-a-bad-rap-flawed-science-and-xenophobia/">How MSG Got A Bad Rap: Flawed Science And Xenophobia</a>
(added 20211021; ed: *smirk*)</li>
<li>can a mass spectrometer detect a specific compound and quantity? if not,
what type of equipment can do it?</li>
<li>testing including quantity
 <ul>
 <li><a href="https://en.wikipedia.org/wiki/Monosodium_glutamate">mono-sodium glutamate</a></li>
 <li><a href="https://en.wikipedia.org/wiki/Disodium_guanylate">Disodium guanylate</a></li>
 <li><a href="https://en.wikipedia.org/wiki/Disodium_inosinate">Disodium inosinate</a></li>
 </ul>
</li>
<li>&quot;Food manufacturers are required to list all ingredients in the food on the label. On a product label, the ingredients are listed in order of predominance, with the ingredients used in the greatest amount first, followed in descending order by those in smaller
amounts.&quot; (added 20211021; source <a href="https://www.fda.gov/food/food-ingredients-packaging/overview-food-ingredients-additives-colors#:~:text=A.,by%20those%20in%20smaller%20amounts.">Overview of Food Ingredients, Additives & Colors | FDA</a>)</li>
<li><a href="https://www.walkermethodist.org/blog/7-nutrition-label-ingredients-to-avoid">7 Nutrition Label Ingredients to Avoid</a></li>
<li>&quot;When Did Chinese start using MSG? 1918. After gaining a base in Japan and Taiwan, Ajinomoto began selling MSG in China in 1918, marketing it as part of a modern new lifestyle. There was pushback from some Chinese who saw it as a symbol of Japanese imperialism&quot; (added 20211021; source: <a href="https://msgdish.com/the-history-of-msg/">The History of MSG and Its Journey around the World - MSGdish</a></li>
{*
<li>sodium = Na, mono = one</li>
<li>table salt is NaCl (sodium chloride)</li>
<li>MSG breaks down into sodium ("flavor enhancer", "umami") and unbound ("free") glutamic acid</li>
<li>glutamic acid is weak, but it can still cause damage</li>
*}
<li>Achilles <a href="http://www.merriam-webster.com/dictionary/exacerbate">exacerbates</a> existing symptoms</li>
<li><a href="https://www.healthination.com/resource_center/migraine-patient-care-center/understanding-migraines/1/">understanding migranes</a> lists MSG as a possible trigger (since: 20220116)</li>
<li>&quot;What is MSG made of? Today, the MSG (monosodium glutamate) produced by the Ajinomoto Group is produced through fermentation of plant-based ingredients such as sugar cane, sugar beets, cassava or corn. MSG is the sodium salt of glutamic acid, one of the most common naturally occurring amino
acids.&quot; -- source <a href="https://www.ajinomoto.com/msg/what-is-msg-and-how-is-it-made">What is MSG and how is it made? | Monosodium Glutamate (MSG)</a>
(@since 20220127)</li>
<li>Why MSG is bad for your health?<br />
MSG has been linked with obesity, metabolic disorders, Chinese Restaurant Syndrome, neurotoxic effects and detrimental effects on the reproductive organs. Mar 19, 2018
<a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjhwYOriuL1AhWHmOAKHcL1CUMQFnoECCIQAw&url=https%3A%2F%2Fwww.ncbi.nlm.nih.gov%2Fpmc%2Farticles%2FPMC5938543%2F&usg=AOvVaw0mEU4WZdUYsMT43pkLydcS">Extensive use of monosodium glutamate: A threat to public health?</a></li>
<li>Is MSG illegal in California?<br />
Unfortunately, Prop 37 exempts restaurants. And the widely used food additive, monosodium glutamate, also known as MSG, is not covered by the proposed legislation, so even if Prop 37 passes, the withholding of MSG nutritional information in restaurants wil be legally permitted.Oct 3, 2012
<a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjH9r6fi-X1AhWnl-AKHaKsA3oQFnoECAEQAw&url=https%3A%2F%2Fwww.urbanlegendnews.org%2Ffeatures%2F2012%2F10%2F03%2Fpresence-of-msg-in-san-francisco-restaurant-food-a-surprise-to-urban-school-students%2F&usg=AOvVaw0WSS08hfCZQrpr-t4d4rnY">Presence of MSG in San Francisco restaurant food a surprise to Urban
...</a></li>
<li>&quot;What are the side effects of disodium inosinate?
These are Ribonucleotide E635 / Disodium Guanylate E627 / Disodium Inosinate E631. Possible reactions may include: Behavioural problems in children, Attention deficit disorders, Lethargy, Sleepiness, Insomnia, Numbness or paralysis, Seizures, Sciatica, Slurred speech, Chills and shakes,
Shuddering.&quot; source: <a href="https://allergylink.co.uk/allergy-blog/2016/10/26/msg-adverse-reactions/">MSG - Adverse reactions - Allergy Link</a> (@since 20220215)</li>
<li>&quot;Excitotoxins are a class of chemicals (usually amino acids) that overstimulate neuron receptors. Neuron receptors allow brain cells to communicate with each other, but when they’re exposed to excitotoxins, they fire impulses at such a rapid rate that they become exhausted&quote; @since 20220310 <a href="https://experiencelife.lifetime.life/article/excitotoxins/">What Are Excitotoxins?</a></li>
<li>&quot;KFC adds the infamous flavor-booster monosodium glutamate, or MSG, to dozens of items, as detailed on the company website. It also uses foods naturally high in effectively similar free glutamates, like chicken. MSG enhances salt taste and salt-taste pleasure while also triggering the brothy umami taste.
-- Sep 2, 2016 <a href="https://www.businessinsider.com/why-kfc-is-so-addictive-delicious-2016-8">9 scientific reasons KFC is so addictive - Business Insider</a>
</ul>
</div>
</div>
