{extends file="page.tmpl"}
{block name="pageheader"}
<div class="body">
<h1>project achilles</h1>
<h2>a study of monosodium glutamate (MSG) and derivatives (disodium glutayate, etc)</h2>
</div>
{/block}
{block name="head" append}
{* <script src="/skin/js/achilles.js"></script> *}
<link rel="stylesheet" type="text/css" href="/skin/css/achilles.css" media="screen" />
{/block}
{block name="title"}achilles - the study of the affects of MSG (monosodium
glutamate) and similar food additives on the human body{/block}
{block name="content"}
<div class="blurb">
<div class="header"><h1>achilles</h1></div>
<div class="body"><p>project achilles studies the affect of <abbr title="monosodium glutamate">MSG</abbr>
and derivatives on the human body.</p>
</div> {* body *}
</div> {* blurb *}

<div class="blurb">
<div class="header warning"><h1>warning</h1></div>
<div class="body"><span style="color: yellow;" class="fa fa-warning fa-lg"></span>
<span>For <b>medical</b> or <b>nutritional advice</b>, <i>do not rely only on this
site</i>. Please <b>consult a dietician or health care professional</b> instead.</span>
</div>
</div>

<div class="blurb">
<div class="header"><h1>goals</h1></div>
<div class="body">
<ul>
<li> gather a <a href="https://en.wikipedia.org/wiki/Statistical_significance">statistically significant</a> group with a Chinese Food Syndrome
or MSG Symptom Complex <a href="https://en.wikipedia.org/wiki/Diagnosis">diagnosis</a>
<strike>(very difficult considering <a
href="https://en.wikipedia.org/wiki/Health_Insurance_Portability_and_Accountability_Act">HIPAA</a>
in the U.S.).</span></strike>. This can work wrt privacy if patients
voluntarily enter their data into an information system, and if that data is
subsequently scrubbed of <a href="https://www.csoonline.com/article/3215864/how-to-protect-personally-identifiable-information-pii-under-gdpr.html">Personally Identifiable Information</a> (PII).</li>
<li> lobby to improve labeling law enforcement for QSRs (Fast Food), packaged foods (ref. hot dogs, cold cuts, frozen pizza, etc)</li>
<li> produce and distribute a field test kit which tests for the <b>quantity of MSG</b> (monosodium glutamate) in a wet or dry sample.</li>
<li> build, operate, and maintain an information system that tracks various processed food products
regulated by the FDA, their UPC labels if available, and whether or not the item has MSG in it (determined via lab testing
<i>and</i> personal opinion) and if MSG is on the label or, in the case of a QSR
or family dining restaurant (chain or single), <i>clearly</i> on their nutrition guide and/or menu.</li>
<li> conduct scientific tests to prove beyond a reasonable doubt that <a
href="http://www.cancer.org/cancer/cancercauses/othercarcinogens/athome/talcum-powder-and-cancer">Talcum Powder and
Ovarian Cancer</a> are not linked</li>
<li> test to find out how long MSG stays in the body (cumulative?)</li>
<li> test to find out how long free glutamic acid stays in the body (cumulative too?)</li>
<li> compare the chemistry of '<a
href="https://en.wikipedia.org/wiki/Gluten">gluten</a>', '<a
href="https://en.wikipedia.org/wiki/Glutamate_%28neurotransmitter%29">glutamate</a>', and 'manufactured free
<a href="https://en.wikipedia.org/wiki/Glutamic_acid">glutamic acid</a>'</li>
<li> find out the <a href="https://en.wikipedia.org/wiki/Solubility">soluability</a> of MSG.</li>
<li> partner with universities and enterprise to test samples and submit results to the planned information system</li>
<li> earn a healthy long term grant (10+ years)</li>
<li> lobby to change regulations such that restaurants (especially QSRs) must
clearly disclose use and quantity of MSG <i>and in what menu items</i> so the consumer can make an
informed choice. the new regs must be strictly enforced with regular field
testing using "secret shoppers" (ref: consumer reports) and effective
penalties for non-compliance, not limited to "internet shaming"</li>
<li>added msg should be shown as a quantity alongside sodium, sugar, etc</li>
<li>maintain a list of <i>hidden names</i> for MSG, including <i>disodium
glutayate</i> (first hand: 202008, Innovasion and 20210213 "combos stuffed
snacks" pepperoni pizza baked cracker)</li>
<li>"At high concentrations, glutamate can overexcite nerve cells, causing
them to die.  Prolonged excitation is toxic to nerve cells, causing damage
over time.  This is known as excitotoxicity.  Researchers are studying
therapies that attempt to inhibit glutamate activity for the treatment of
ALS." (added 20210623, source: <a href="https://www.everydayhealth.com/glutamate/guide/">everydayhealth.com glutamate guide</a>)</li>
<li>"The swelling squeezes the neighboring blood vessels, preventing normal blood flow and interrupting the supply of oxygen and glucose, which ultimately leads to cell death. Cell swelling, however, is reversible; the cells will shrink back once glutamate is removed from brain
fluids." (added 20210623, source: <a href="https://www.dana.org/article/protecting-the-brain-from-a-glutamate-storm/#:~:text=The%20swelling%20squeezes%20the%20neighboring,is%20removed%20from%20brain%20fluids.">Protecting the Brain from a Glutamate Storm | Dana Foundation</a></li>
</ul>
</div> {* body *}
</div> {* blurb *}

<div class="blurb">
<div class="header"><h1>summary</h1></div>
<div class="body">
<ul>
<li>there is too much profit in treating the symptoms of disodium
glutayate to actually see it disclosed and/or eradicated from the american
diet.</li>
<li>I will grudgingly accept MSG occuring naturally because the chance is
greater than 0</li>
<li>What I need to know is how much "achilles" (monosodium glutamate,
disodium glutayate) is being added to my food, so I can make
sure I consume a "safe" amount.</li>
<li>some diseases seem to come from nowhere:
 <ul>
  <li><a href="https://en.wikipedia.org/wiki/Diabetes">diabetes</a> -- genetic</li>
  <li><a href="https://en.wikipedia.org/wiki/Multiple_sclerosis">multiple sclerosis</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Parkinson%27s_disease">Parkinson's disease</a></li>
 </ul>
<li>MSG = monosodium + glutamate</li>
<li><a href="https://en.wikipedia.org/wiki/Disodium_guanylate">disodium guanylate</a> is MSG<sup>2</sup></li>
<li>glutamate is one of 20 ammino acids that is non-essential (the body does
not need to produce it, typically bound to protein in food).</li>
<li>it is <i>possible</i> for MSG to form during the cooking process, thus the term "no msg" is "impossible". correct term is "no added msg"</li>
<li>"<a href="https://medlineplus.gov/ency/article/001126.htm">MSG Symptoms Complex</a>" is a newer name for "Chinese Restaurant Syndrome"</li>
<li>glutamate is a <a href="https://en.wikipedia.org/wiki/Neurotransmitter">neurotransmitter</a>, which is part of the normal function of the
body. does it attack other types of cells?</li>
<li><a href="https://en.wikipedia.org/wiki/Excitotoxicity">Excitotoxicity</a> -- too much glutamate</li>
<li>any restaurant is going to see MSG as one way to lower food cost, especially in the QSRs</li>
<li>no chef worth their jacket would use MSG in their kitchen(s)</li>
<li>sodium from table salt plus sodium from MSG = ?</li>
<li>"Glutamate excitotoxicity (sometimes called a glutamatergic storm) refers to the damage to nerve cells caused by excessive stimulation of NMDA and AMPA receptors by glutamate.” Jul 2, 2018
source: <a href="https://neurohacker.com/what-is-glutamate">What is Glutamate?</a> -- too much glutamate</li>
<li>"NMDA is an unfortunate acronym for N-methyl-D-aspartate, and this amino acid derivative is very similar to glutamate. Now glutamate is the excitatory neurotransmitter found in most synapses of the central nervous system, and pharmacologists made this analogue called NMDA to activate a sub-type of glutamate
receptors." -- source: <a href="https://dnalc.cshl.edu/view/1211-What-is-NMDA-.html">what is NMDA</a></li>
<li>"AMPA (α-amino-3-hydroxy-5-methyl-4-isoxazolepropionic acid) is a compound that is a specific
<a
href="https://www.google.com/search?client=firefox-b-1-d&sxsrf=ALeKk02P7R0zibLdkYWy7Jcj1_cxx3LfLw:1613355477152&q=Dictionary&stick=H4sIAAAAAAAAAONQesSoyi3w8sc9YSmZSWtOXmMU4-LzL0jNc8lMLsnMz0ssqrRiUWJKzeNZxMqFEAMA7_QXqzcAAAA&zx=1613355498850#dobs=agonist">agonist</a> for the AMPA receptor, where it mimics the effects of the neurotransmitter glutamate. ... AMPA generates fast excitatory postsynaptic potentials
(EPSP)." -- source <a href="https://en.wikipedia.org/wiki/AMPA">wikipedia
AMPA</a></li>
<li>"In excitotoxicity, nerve cells suffer damage or death when the levels of otherwise necessary and safe neurotransmitters such as
glutamate,..." -- source <a href="https://en.wikipedia.org/wiki/Excitotoxicity">wikipedia Excitotoxicity</a></li>
<li>"An excitatory postsynaptic potential (EPSP) is the change in membrane voltage of a postsynaptic cell following the influx of positively charged ions into a cell (typically Na+) as a result of the activation of ligand-sensitive
channels." -- source <a href="https://link.springer.com/referenceworkentry/10.1007%2F978-3-540-68706-1_618">Encyclopedia of Psychopharmacology (2010)</a></li>
<li>"Chronic inflammation of the pancreas can damage the cells that produce insulin which can lead to diabetes. Pancreatitis and type 2 diabetes share some of the same risk factors. Observational studies indicate that people with type 2 diabetes may have a two- to threefold increased risk of acute
pancreatitis." -- source <a href="https://www.healthline.com/health/diabetes-and-pancreas">The Connection Between Diabetes and Your Pancreas</a></li>
<li>"It refers to a group of symptoms some people experience after eating food from a Chinese restaurant. Today, it's known as MSG symptom complex. These symptoms often include headache, skin flushing, and sweating. A food additive called monosodium glutamate (MSG) is often blamed for these
symptoms." (2012) -- source <a
href="https://www.healthline.com/health/chinese-restaurant-syndrome">Chinese
Restaurant Complex and MSG Symptom Complex</a></li>
<li>Average intake of MSG in European and Asian countries is generally 0.3–0.5 g/day and 1.2–1.7 g/day, respectively. MSG intake of 16.0 mg/kg of body weight is generally regarded as
safe. -- source <a href="https://www.tandfonline.com/doi/full/10.1080/10942912.2017.1295260#:~:text=Average%20intake%20of%20MSG%20in,is%20generally%20regarded%20as%20safe.">Monosodium glutamate: Review on clinical reports</a> (2017)</li>
<li>Those who are sensitive to monosodium glutamate or trying to avoid it in their food should also be familiar with disodium guanylate. While this food additive doesn't have the same potential adverse effects, it's found in many of the same foods, so it's a good indicator that a food may contain MSG. source: <a href="https://www.livestrong.com/article/551058-disodium-guanylate-vs-monosodium-glutamate/">Disodium Guanylate vs. Monosodium
Glutamate</a> (2019)</li>
<li>test a sample's sodium ammount, subtract it from the label's disclosure, and see if there is too much.</li>

<li>&quot;Monosodium glutamate, MSG, is a food additive commonly used to enhance the taste of processed foods and fast foods. It is often used to mask the "tinny" feeling of canned foods and to maintain a food's color. MSG can be found in anything from corn chips to tomato soups, but it is often found in high quantities in foods prepared at Chinese restaurants. An estimated 25 percent of the population severely reacts to MSG when it is ingested in high doses. MSG reactions intensify when foods containing MSG are eaten on an empty
stomach.&quot; -- source <a href="https://www.chicagotribune.com/news/ct-xpm-1994-04-03-9404030033-story.html">MSG
SENSITIVITY</a> (April 3rd, 1994)</li>
<li>&quot;MSG is freely soluble in water, but it is not hygroscopic and is insoluble in common organic solvents (such as ether). It is generally stable under food-processing conditions. MSG does not break down during cooking and, like other amino acids, will exhibit a Maillard reaction (browning) in the presence of sugars at very high temperatures.&quot; -- source <a href="https://en.wikipedia.org/wiki/Monosodium_glutamate">Monosodium glutamate page of wikipedia</a></li>
<li>&quot;Monosodium Glutamate (MSG) is a chemical commonly used to enhance taste by increasing the sensitivity of the taste buds; contrary to popular belief, it is not a food seasoning. ... There is no law stating that a restaurant must disclose the use of MSG in its dishes.&quot; source-- <a href="https://www.legalmatch.com/law-library/article/allergic-reactions-to-restaurant-foods.html#:~:text=There%20is%20no%20law%20stating,about%20the%20presence%20of%20MSG.">Allergic Reactions to Restaurant Foods</a> (Apr 17, 2018)
<li><a href="https://www.google.com/search?q=does+gfs+use+msg&oq=does+gfs+use+msg&aqs=chrome..69i57.4549j0j7&sourceid=chrome&ie=UTF-8">google: does gfs use msg?</a></li>

{*
<li>sodium == Na, mono == one</li>
<li>table salt is NaCl (sodium chloride)</li>
<li>MSG breaks down into sodium ("flavor enhancer", "umami") and unbound ("free") glutamic acid</li>
<li>glutamic acid is weak, but it can still cause damage</li>
*}
</ul>
</div>
</div>

{include file="nutrition-guides.tmpl"}

{include file="changelog.tmpl"}

{if count($data.healthlinks) > 0}
<div class="blurb">
<div class="header">
  <h1>{count($data.healthlinks)} links from "{teos path="top.achilles"}" sig on <a href="{$smarty.const.TEOSURL}">teos</a></h1>
</div>
</div> {* blurb *}
<ul class="nobullets">
{foreach $data.healthlinks as $link}
<li>{include link=$link file="vulcan-terse.tmpl" showsig=False}</li>
{/foreach}
</ul>
{/if}
{/block} {* main *}
