{extends file="page.tmpl"}
<!-- index.tmpl in achilles -->
{block name="head" append}
{* <link rel="stylesheet" type="text/css" href="{$smarty.const.SKINDIR}css/accordian.css" media="screen" /> *}
<script defer src="{$smarty.const.JSURL}accordion.js"></script>
{* <script src="{$smarty.const.JSURL}achilles.js"></script> *}

<script defer src="{$smarty.const.JSURL}section.js"></script>
<link rel="stylesheet" type="text/css" href="{$smarty.const.SKINURL}css/section.css" media="screen" />

<link rel="stylesheet" type="text/css" href="{$smarty.const.SKINURL}css/achilles.css" media="screen" />
{/block}
{block name="title"}achilles - a study of sodium glutamates{/block}
{block name="content"}
{include file="00-warnings.tmpl"}

{foreach $data.sections as $name => $config}
  {include file="section.tmpl" name=$name config=$config}
{/foreach}

{/block} {* content *}
