<div class="blurb">
<div class="header"><h1>nutrition guides</h1></div>
<div class="body">
<ul>
<li><strike><a href="http://www.bk.com/pdfs/nutrition.pdf">Burger King&reg; Nutrition Guide</a> (PDF)</strike></li>
<li><strike><a href="https://www.wendys.com/redesign/wendys/pdf/en_US_nutrition.pdf">Wendy's&reg; Nutrition Guide</a></strike> (PDF) (no mention of MSG, does not mean they are clean)</li>
<li><a href="http://nutrition.mcdonalds.com/getnutrition/ingredientslist.pdf">McDonald's&reg; Ingredients List</a> (PDF) (NO MSG disclosure as of 2016-NOV-26)</li>
<li><strike><a href="http://www.kfc.com/nutrition/pdf/kfc_nutrition.pdf">KFC&reg; Nutrition Guide</a></strike> (PDF) and (more importantly) <a href="https://www.kfc.com/nutrition/food-allergies-and-sensitivities">food allergies and
sensitivities</a> update 2020-mar-16: as of today, kfc does not show any of their products containing msg. if that is really the case, they will have to somehow prove it to me. if they are lying, that is supposed to be illegal.</li>
<li><a href="http://www.subway.com/en-US/nutrition/">subway nutrition guide</a>. they do not list MSG directly, but instead have a column for "autolyzed yeast" and "hydrolyzed protein" which are two hidden names for monosodium glutamate
(MSG). each franchise is able to pick their cold-cuts. often, those
cold-cuts use MSG to keep the food-cost low (profit higher). also, do not go near their
sauces or their "personal pizza" which uses MSG.</li>
<li>was unable to find a to-the-point nutrition guide for <a
href="https://www.chick-fil-a.com/">chick-fil-a</a>. their <strike><a
href="https://www.chick-fil-a.com/-/media/Files/CFACOM/CFA_Allergens_1280_4.ashx">allergens</a></strike>
PDF was 18megabytes of empty pages on my fedora workstation. as a result, <i>highly
suspect</i> chick-fil-a of using MSG
<ul>
<li>update: 2017-nov-19: only 5 pages of blank pdf</li>
<li>update: 2018-May-26: nutrition guide does not load.</li>
<li>update 2020-mar-16: allergen information yields an error about not being able to find a layout template. they appear to have replaced their nutrition guide with a blog.</li>
<li>update 2021-jun-23: no trace of a nutrition guide. stay away from this QSR!</li>
</ul>
</ul>
</div> {* body *}
</div> {* blurb *}
