<div class="blurb">
<div class="body">

<p>The appropriate amount of MSG (monosodium glutamate) to consume depends on
<strike>a number of factors, including your age, sex, weight, and</strike> overall health. The United States Food and Drug Administration (FDA) has classified MSG as a food ingredient that is "generally recognized as safe" (GRAS) when consumed in normal amounts.</p>

<p>The World Health Organization (WHO) has established a recommended daily intake (RDI) for MSG of up to 30 milligrams per kilogram of body weight per day. This amount is based on the average intake of MSG in the general population and is considered to be safe for most people.</p>

<p>It is important to note that MSG is often used in small amounts as a flavor enhancer in a variety of foods, and it is not typically consumed as a standalone product. Most people consume much less than the RDI for MSG on a daily basis.</p>

<p>If you are concerned about your intake of MSG, it is recommended to read food labels carefully and to be aware of the ingredients that are used in the foods you eat. You can also try using herbs, spices, and other flavorful ingredients to add flavor to your foods without the need for added MSG or other flavor enhancers.</p>
</div>
</div>
