<div class="blurb">
<div class="body">
<p>Monosodium glutamate (MSG) is a flavor enhancer that is commonly used in
processed foods, such as snack foods, soups, frozen dinners <span
class="highlight">and some quick
service restaurants</span>.  Some people have reported adverse reactions after
consuming foods containing MSG, including headache, flushing, and difficulty
breathing.  However, the evidence for a link between MSG and these reactions
is <strike>not</strike> clear and more research is needed to confirm whether MSG is a cause
of these symptoms.</p>

<p>It is also worth noting that MSG is generally recognized as safe by
regulatory agencies around the world, including the US Food and Drug
Administration (FDA).  The FDA considers MSG to be a food ingredient that is
"generally recognized as safe" (GRAS) when consumed at normal levels.</p>

<p>While the potential risks of MSG remain somewhat controversial, it is
important for consumers to be aware of the potential for adverse reactions
and to make informed decisions about their dietary choices.  Some
individuals may choose to avoid foods that contain MSG, while others may be
comfortable consuming foods that contain the ingredient.  Ultimately, the
decision about whether to consume MSG or other food additives is a personal
one that should be based on individual preferences and considerations.</p>
</div>
</div>
