<div class="blurb">
<div class="body">

<p>Yes, monosodium glutamate (MSG) can occur naturally in cheese.  It is a
flavor enhancing compound that is present in many types of cheese, including
Parmesan, blue cheese, and Roquefort.  It is also found in other foods such
as meats, soups, and processed snack foods.  <strike>MSG</strike> glutamate
is a naturally occurring amino acid that is found in many protein-containing
foods <strike>and is used as a flavor enhancer in some products</strike>.</p>

</div>
</div>
