<!DOCTYPE html>
<html lang="en-us" id="html">
<head id="head" itemscope itemtype="https://schema.org/WebSite">
{block name="head"}
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat%7COpen+Sans" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/animate.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/blurb.css" media="screen" />
{*<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/actions.css" media="screen" />*} {* temporary, 2020-mar-24, until tested *}
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/pageheader.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/pagefooter.css" media="screen" />
{* <link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/scene.css" media="screen" /> *}
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/clock.css" media="screen" />
{* <link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/nav.css" media="screen" />*}
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/zoidweb4.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/breadcrumbs.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/actions.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/page.css" media="screen" />
{* <link rel="stylesheet" type="text/css" href="/skin/css/www.css" media="screen" /> *}
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/lists.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/poweredby.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/spoiler.css" media="screen" />
{*<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">*}

{*<script defer src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>*}
<script src="//code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script defer src="{$smarty.const.ENGINEURL}js/preloadbackgroundimages.js"></script>
<script defer src="{$smarty.const.ENGINEURL}js/jquery.smoothState.js"></script>
<script defer src="{$smarty.const.ENGINEURL}js/initsmoothstate.js"></script>
<script defer src="{$smarty.const.ENGINEURL}js/bbsengine4.js"></script>
<script defer src="{$smarty.const.ENGINEURL}js/clock.js"></script>
<script defer src="{$smarty.const.ENGINEURL}js/spoiler.js"></script>
{if $currentmemberid > 0}
<script defer src="{$smarty.const.ENGINEURL}js/topbar-notifycount.js"></script>
<script defer src="{$smarty.const.ENGINEURL}js/topbar-credits.js"></script>
<script defer src="{$smarty.const.ENGINEURL}js/topbar-loginlogout.js"></script>
<script defer src="{$smarty.const.ENGINEURL}js/topbar-join.js"></script>
<script defer src="{$smarty.const.ENGINEURL}js/topbar-greetings.js"></script>
<script defer src="{$smarty.const.ENGINEURL}js/topbar-nav.js"></script>
{/if}
<script defer src="{$smarty.const.ENGINEURL}js/checkcurrentmemberid.js"></script>
{*{include file="googleanalytics.tmpl"}*}
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/topbar.css" media="screen" />
<script defer src="{$smarty.const.ENGINEURL}js/topbar.js" type="text/javascript"></script>

{*<script defer src="{$smarty.const.ENGINEURL}js/snowstorm-min.js"></script>*}
{*<script defer src="{$smarty.const.ENGINEURL}js/initsnow.js"></script>*}

{* 
<script src="{$smarty.const.ENGINEURL}js/tinymce/tinymce.js"></script>
<script src="{$smarty.const.ENGINEURL}js/tinymce/jquery.tinymce.min.js"></script>
<script src="{$smarty.const.ENGINEURL}js/inittinymce.js"></script>
*}
<title>{block name="title"}zoid technologies{/block}</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="description" content="custom information systems for your intranet, extranet, or public website">
<meta property="og:type" content="website" />
<meta property="og:description" content="custom information systems for your intranet, extranet, or public website" />
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/maturecontentwarning.css" media="screen" />

<link rel="stylesheet" type="text/css" href="{$smarty.const.STATICSKINURL}css/amznitem.css" media="screen" />

{* <meta property="og:url" content="https://www.mailgun.com/" /> *}
{* <meta property="og:title" content="Pricing - Transactional Email API Service for Developers - Mailgun" /> *}
{/block}
{* {block name="head"}<!-- head -->{/block}  *}
</head>
<body id="body" class="scene element fadeIn">
{*
<ul class="nobullets">
<li class="element bounceInDown">{include file="pageheader.tmpl"}</li>
<li class="element fadeIn">{include file="topbar.tmpl" data=$data.topbar|default:NULL}</li>
<li class="">{include file="maturecontentwarning.tmpl"}</li>
<li class="">{include file="nav.tmpl" nav=$data.sidebar|default:NULL}</li>
*}
{include file="pageheader.tmpl"}
{include file="topbar.tmpl" data=$data.topbar|default:NULL}
{*{include file="maturecontentwarning.tmpl"}*}
{include file="nav.tmpl" sidebar=$data.sidebar|default:NULL}
{block name="content"}
<main>{block name="main"}NEEDINFO:main{/block}</main>
{/block}
{include file="pagefooter.tmpl"}
</body>
</html>
