<header id="pageheader" class="blurb">
{block name="pageheader"}
<div class="body">
 <h1>Project Achilles</h1>
 <h2>A study of sodium glutamates (MSG, DSG)</h2>
 <h3 class="est2002">~ est. 2014 ~</h3>
</div> {* body *}
{/block}
</header>
