<div class="section" data-name="{$name}" data-open="{$config.open}">
  <div class="section-header">{$name|capitalize}</div>
  <div class="section-content" id="section-{$name}" style="display:none;"></div>
</div>
