<div class="blurb">
<div class="header"><h2>health concerns</h2></div>
<div class="body">
<ul>
<li><strong>Excitotoxicity</strong> (glutamate storms) - overstimulation of neurons <sup><a href="#src-excitotoxicity">14</a>, <a href="#src-excitotoxicity-2">15</a>, <a href="#src-excitotoxicity-3">16</a>, <a href="#src-excitotoxicity-4">17</a>, <a href="#src-excitotoxicity-5">18</a>, <a href="#src-excitotoxicity-3-rep1">16a</a>, <a href="#src-excitotoxicity-3-rep2">16b</a>, <a href="#src-excitotoxicity-3-rep3">16c</a>, <a href="#src-excitotoxicity-5-rep1">18a</a>, <a href="#src-excitotoxicity-5-rep2">18b</a></sup></li>
<li><strong>Headaches / Migraines</strong> - documented trigger in multiple studies <sup><a href="#src-headache">19</a>, <a href="#src-headache-2">20</a>, <a href="#src-headache-3">21</a>, <a href="#src-headache-4">22</a>, <a href="#src-headache-3-rep1">21a</a>, <a href="#src-headache-3-rep2">21b</a>, <a href="#src-headache-3-rep3">21c</a></sup></li>
<li><strong>Digestive issues</strong> - constipation, gut microbiota changes, visceral pain <sup><a href="#src-gut">23</a>, <a href="#src-gut-2">24</a>, <a href="#src-gut-3">25</a>, <a href="#src-gut-4">26</a>, <a href="#src-gut-3-rep1">25a</a>, <a href="#src-gut-3-rep2">25b</a>, <a href="#src-gut-3-rep3">25c</a></sup></li>
<li><strong>Respiratory issues</strong> - asthma, sinus problems <sup><a href="#src-respiratory">27</a>, <a href="#src-respiratory-2">28</a>, <a href="#src-respiratory-3">29</a>, <a href="#src-respiratory-4">30</a>, <a href="#src-respiratory-rep1">27a</a>, <a href="#src-respiratory-rep2">27b</a>, <a href="#src-respiratory-rep3">27c</a>, <a href="#src-respiratory-4-rep1">30a</a>, <a href="#src-respiratory-4-rep2">30b</a></sup></li>
<li><strong>Skin reactions / Acne flare-ups</strong> - MSG may worsen existing skin conditions via gut-immune-skin axis <sup><a href="#src-skin">31</a>, <a href="#src-skin-2">32</a>, <a href="#src-skin-3">33</a>, <a href="#src-skin-4">34</a></sup></li>
<li><strong>True MSG allergy</strong> - Rare but documented Type I food allergy to MSG confirmed via oral challenge <sup><a href="#src-allergy">35</a>, <a href="#src-allergy-2">36</a>, <a href="#src-allergy-3">37</a>, <a href="#src-allergy-4">38</a></sup></li>
<li><strong>Skin/mucosal irritation</strong> - MSG on cracked skin or chapped lips may cause stinging (like salt on a wound) <sup><a href="#src-skin">31</a>, <a href="#src-skin-2">32</a>, <a href="#src-skin-5">39</a>, <a href="#src-skin-6">40</a>, <a href="#src-respiratory-rep3">27c</a></sup></li>
<li>Linked to: diabetes, multiple sclerosis, rheumatoid arthritis <sup><a href="#src-linked">41</a>, <a href="#src-linked-2">42</a>, <a href="#src-linked-3">43</a>, <a href="#src-linked-4">44</a>, <a href="#src-linked-rep1">41a</a>, <a href="#src-linked-rep2">41b</a>, <a href="#src-linked-rep3">41c</a>, <a href="#src-linked-4-rep1">44a</a>, <a href="#src-linked-4-rep2">44b</a>, <a href="#src-linked-4-rep3">44c</a></sup></li>
<li><span class="highlight">May suppress immune system</span> <sup><a href="#src-immune">45</a>, <a href="#src-immune-2">46</a>, <a href="#src-immune-3">47</a>, <a href="#src-immune-4">48</a></sup></li>
<li>Effects are <strong>cumulative</strong> with repeated exposure <sup><a href="#src-cumulative">49</a>, <a href="#src-cumulative-2">50</a>, <a href="#src-cumulative-3">51</a>, <a href="#src-cumulative-4">52</a>, <a href="#src-cumulative-2-rep1">50a</a>, <a href="#src-cumulative-2-rep2">50b</a>, <a href="#src-cumulative-4-rep1">52a</a>, <a href="#src-cumulative-4-rep2">52b</a>, <a href="#src-cumulative-4-rep3">52c</a></sup></li>
</ul>
</div>
</div>
