<div class="blurb">
<div class="header"><h2>mission</h2></div>
<div class="body">
<p>To study the effects of consuming monosodium glutamate (MSG), especially over the long term, and to advocate for better labeling and disclosure in restaurants and processed foods. <strong>Project Goal:</strong> Develop a simple, affordable consumer test kit for detecting MSG/DSG quantity in food samples.</p>
</div>
</div>
