<div class="blurb">
<div class="header"><h2>Acknowledgments</h2></div>
<div class="body">
<ul>
<li>Special thanks to Mom for her contributions to the "Why Call It Project Achilles?" and "History" sections, and editing of this webpage.</li>
<li>Thanks to Ian for explaining Wikipedia's citation requirements (the "at least 4 citations" standard).</li>
<li>Thanks to Dad for explaining the chemistry and biology involved in this project, reading my initial research and finding it plausible.</li>
<li>Thanks to <strong>pscug</strong> for inspiring the accordion effect on the webpage (smooth animated collapsible sections using the Web Animations API on HTML details/summary elements; sections load when clicked, reducing initial page load time), and help with chemistry.</li>
</ul>
</div>
</div>
