<div class="blurb">
{*<div class="header"><h1>changelog</h1></div>*}
<div class="body">
<ul>
<li>20240618 - added "chemistry" section</li>
<li>20231005
 <ul>
 <li>updated goals</li>
 <li>more editing of openai responses for accuracy</li>
 <li>updated 'nutrition guides'</li>
 </ul>
</li>
<li>20220830
 <ul>
 <li>renamed 'summary' to 'details' and made an actual summary</li>
</ul>
<li>20220824
 <ul>
 <li>added link describing 9 reasons kfc is so addictive</li>
 </ul>
</li>
<li>20220106:
 <ul>
 <li>added 'examples' section</li>
 </ul>
</li>
<li>20211202:
 <ul>
 <li>added note to summary.tmpl</li>
 </ul>
</li>
<li>20211120:
 <ul>
 <li>updated goals.tmpl</li>
 </ul>
</li>
<li>20211116:
 <ul>
 <li> added 'accordian' (@ref: https://codepen.io/chriscoyier/pen/XWNqxyY). working on skin integration. thanks to pscug on 20211114.
fixed spelling error "ammount".</li>
 <li> working on skin integration of accordian</li>
 <li> fixed spelling error 'ammount'</li>
 </ul>
</li>
<li>20210214: added to summary re: <a href="https://en.wikipedia.org/wiki/Disodium_guanylate">disodium guanylate</a>
<li>2020-MAR-16: added note about MSG Symptoms Complex to "summary"</li>
<li>2018-APR-27:
 <ul>
 <li> talking to emichrandy ~14 days ago and he mentioned an "msg free
 certification" that would be proposed to restaurants, etc along the lines
 of a "gmo free" label on various produce</li>
 </ul>
</li>
<li>2018-MAR-19:
 <ul>
 <li> "There are two common forms of glutamic acid, L-glutamic acid and D-glutamic acid. L-glutamic acid found in protein is referred to as 'bound' or 'protein bound' glutamic acid. In real, natural foods amino acids are rarely free. Rather, they are linked or bound in long chains to other amino acids in peptides or proteins. D-glutamic acid 'outside of protein' or 'free glutamic acid' is artificially and chemically produced outside of the body. This is what is known as monosodium glutamate or
MSG." -- from <a
href="https://www.edenfoods.com/articles/view.php?articles_id=207">
Glutamic Acid - It Is Not MSG or Monosodium Glutamate</a></li>
 </ul>
</li>
<li>2018-MAR-11:
 <ul>
 <li>updated goals</li>
 <li>each QSR is "independently owned and operated". thinking of a shop
 chain which previously sponsored a world champion swimmer where
 an owner can chose cold cuts that are profitable. regs should be updated and
 enforced such that use of MSG is disclosed clearly.</li>
 <li>if a QSR is going to cut corners it should be made clear.</li>
 </ul>
</li>
<li>2018-FEB-26:
 <ul>
 <li>I feel that solving the health crisis in the united states with a <i>very simple diet change</i> should "make up for
my sins" at least a "little bit".</li>
 <li>A<sup>2</sup>Ian is to me as <a
href="https://en.wikipedia.org/wiki/Glenn_Greenwald">glenn greewald</a> is
to {teos path="top.911.ed"}</li>
 <li>call w A<sup>2</sup>Ian
  <ul>
  <li>practice the pitch</li>
  <li>told him about the chemistry involved &mdash; breaks down into "sodium" and "glutamic acid".</li>
  <li>how much glutamic acid is Bad&trade;</li>
  <li>how long does it stay in the body?</li>
  <li>talking to an md about "msg" normally gets a chuckle. talking to an md about too much glutamic acid is a different
  matter</li>
  <li>a blood test should be available to check for glutamic acid.</li>
  <li>does the sodium in MSG count towards sodium intake? &lt;evil grin&gt;</li>
  <li>I do not delete info which turns out to be wrong&mdash; instead I use
  'strike'. preserve project history</li>
  <li>glutamate is glutamic acid plus a "stabilizer"; in the case of MSG,
  that is sodium. Na is the "flavor enhancer".</li>
  <li>the question is how many glutamate storms have I endured today?</li>
  </ul>
 </li>  
 </ul>
</li>
<li>2018-FEB-25:
 <ul>
 <li><a href="https://en.wikipedia.org/wiki/Diabetes_(disambiguation)">diabetes</a></li>
 <li><a href="https://en.wikipedia.org/wiki/Migraine">migraine</a></li>
 <li><a href="https://en.wikipedia.org/wiki/Rheumatoid_arthritis">rheumatoid
 arthritis</a></li>

 <li><a href="https://en.wikipedia.org/wiki/Multiple_sclerosis">multiple
 sclerosis</a></li>
 <li>supposing MSG breaks down into Na and "glutamic acid". the problem
 becomes what to do about a glutamic acid overdose. assume MSG breaks down
 readilly with heat</li>
 <li>checked <i>subway</i> "nutrition guide", and all references to MSG or
 it's hidden names have been removed. big shock. <a
 href="http://www.subway.com/en-us/menunutrition/menu/menunutritionfaqs">subway
 menu nutrition FAQs</a> has a question about MSG, but they deny any use of
 it "except what occurs in nature". nonsense because each franchisee is free
 to pick their incredients.</li>
 <li>a steakhouse which serves a "loaded baked potato" including "bacon bits"
should disclose at the time of order that they use MSG and <b>where</b>. no
exceptions. disclosure!</li>
 <li>checked chik-fil-a nutrition guide by waiting <i>minutes</i> for their
 PDF to render. they do not have a column for "MSG". <abbr title="in my
humble opinion">IMHO</abbr>, all of their "products"
 are suspect.</li>
 <li>each sub shop is "independently owned and operated" (as are many
 QSRs). I once had faith that subway would not stoop to using MSG but they
 <b>do</b> in at least their cold cuts and most likely sauces, and they <i>do not</i> tell their customers
 directly.</li>
 </ul>
<li>2018-FEB-22:
 <ul>
  <li>aaron advised that they use glutamic acid during certain surgeries
  when saline is not appropriate.</li>
  <li>"glutamic acid" as "neurotransmitter"?</li>
  <li>supposing that MSG breaks down into "sodium" and "free glutamic
  acid".</li>
  <li>supposing that certain lifestyles (ANSNOC, college student) have a lot of MSG in the
  diet.</li>
  <li>too much glutamic acid causes 'random' symptoms like "diabetes", "ms", "migraines", or "allergy symptoms" (antihistamine is part of immune system)</li>
 </ul>
</li>
<li>2018-FEB-19:
 <ul>
 <li>what does it mean to have too much glutamic acid in the body? what
 happens? how long does it take to flush the excess out?</li>
 </ul>
</li>
<li>2018-JAN-26:
 <ul>
 <li>diabetes is when the pancreas is not functioning properly</li>
 <li>what is going wrong when a migraine (sensitive to light and sound)
 happens?</li>
 <li>cancer is when a mutated cell spreads. does the immune system normally
 handle this situation?</li>
 <li>ms is an auto-imune disease which attacks the nervous system (citation
 needed)</li>
 <li>my problem is not that MSG is being used, rather that it is being used
 <i>often in secret</i> by quick service and family dining restaurants everywhere.</li>
 </ul>
</li>
<li>2018-JAN-20:
 <ul>
 <li> added link to &quot;The safety evaluation of monosodium
 glutamate.&quot; on nih.gov to '{teos path="top.achilles"}' sig on teos. researchers were
 not able to find a link to MSG and "chinese restaurant syndrome". they
 appeared to be looking for specific neurological effects. <b>the long-term
 affects of MSG were not studied.</b></li>
 </ul>
</li>
<li>2018-JAN-18:
 <ul>
 <li>white blood cell count (WBC) blood test to test strength of immune
system. flobotomist to draw blood, lab to process test, md to interpret results.</li>
 <li>planned call with <i>ian</i> to talk about what I've learned about the
 chemistry of MSG next week</li>
 <li>does the sodium in MSG count towards daily intake ?</li>
 <li>what would happen with a diet high in sodium *and* MSG?</li>
 <li>has HIV been known to "come and go"?</li>
 <li>what is the generally considered safe amount of free glutamic acid in
 the body?</li>
 <li>how long does an excess of free glutamic acid hang around? for example,
 if I use a ramen noodles seasoning packet (which discloses MSG on the
 label) a half hour before my shift at the NOC, and
 then order in <a href="https://en.wikipedia.org/wiki/Shawarma">Shawarma</a> for supper
 a couple of hours later, does that count
 towards what the gov't considers
 a safe amount of MSG?</li>
 </ul>
</li>
<li>2018-JAN-16:
 <ul>
 <li>is genetics a factor in MSG-related symptoms?</li>
 <li>HIV is a virus that attacks the T-Cells, a vital component of the immune
system.</li>
 <li>rhumatoid arthritis, MS - auto immune --- immune system goes wacky.</li>
 <li>excitoxin - toxic to cells</li>
 <li>"There are two common forms of glutamic acid, L-glutamic acid and D-glutamic acid. L-glutamic acid found in protein is referred to as 'bound' or 'protein bound' glutamic acid. In real, natural foods amino acids are rarely free. Rather, they are linked or bound in long chains to other amino acids in peptides or proteins. D-glutamic acid 'outside of protein' or 'free glutamic acid' is artificially and chemically produced outside of the body. This is what is known as monosodium glutamate or
 MSG." -- from <a
 href="https://www.edenfoods.com/articles/view.php?articles_id=207">Glutamic Acid - It Is Not MSG or Monosodium
 Glutamate</a></li>
 <li>"In humans [glutamic acid] is a non-essential amino acid, i.e., the body is capable of producing its own glutamic acid, and is not dependent upon getting glutamic acid from ingested food. Glutamate is glutamic acid to which a mineral ion has been attached. (Researchers call this mineral ion a
&quot;salt&quot;.) -- <a
href="https://www.google.com/search?q=is+glutamate+the+same+as+glutamic+acid&ie=utf-8&oe=utf-8">google
search for &quot;is glutamate the same as glutamic acid&quot;</a></li>
 <li>HIV vacine via transfusion(!)</li>
</ul>
</li>
<li>2018-JAN-13:
 <ul>
 <li><span class="strike">"glutamate" is another name for "glutamic
acid"</span>. glutamic acid occurs
 naturally in food. too much of it is toxic.</li>
 <li>MSG is "glutamate" plus one "sodium" as a "stabilizer"<span
class="strike">, which to me
 means it does not break down easily</span></li>
 <li>some QSRs are independently owned franchises. that means that if a
 store changes ownership, they are free to change the brand of cold cuts
 they use, or change the recipe in various sauces to those which use
 MSG as a "flavor enhancer" (salt) and "profit intensifier".</li>
 </ul>
</li>
<li>2018-JAN-08: if the MSG does not break down into "sodium" and
"glutamate" (aka "glutamic acid"), then it will be possible to detect.</li>
<li>2018-JAN-05: the previous entry makes sense if MSG breaks down when
exposed to heat. given that the <a
href="//en.wikipedia.org/wiki/Monosodium_glutamate">wikipedia article on
MSG</a> contains a list of identifiers for MSG, it must be possible to
detect it.</li>
<li>2018-JAN-03:
 <ul>
 <li> the problem is not detecting MSG, the problem is detecting the
source of the "sodium" and the "glutamic acid" which occurs naturally in
just about everything.</li>
 <li> glutamic acid occurs naturally. to make glutamate, a stablizer is
needed. in MSG, this means "sodium".</li>
 </ul>
</li>
<li>2017-DEC-13:
 <ul>
 <li> fixed typo "chemically similar"</li>
 <li> neu·ro·tox·in - a poison that acts on the nervous system. -- <a
 href="https://www.google.com/search?q=define+neurotoxin">google
 definition</a></li>
 <li>glutamic acid occurs in all foods. the difference is that it is
 not normally found in a "free" state as in MSG. maybe the immune system is
 not set up to handle it, so it acts as a toxin.</li>
 </ul>
</li>
<li>2017-NOV-29:
<ul>
<li>checked subway.com, and they have removed all traces of "msg" from their nutrition guide. I also updated the link to the nutrition guide.</li>
<li>chick-fil-a still has several blank pages in their "pdf nutrition
guide".</li>
<li>added 'changelog.tmpl' back to index page of site</li>
</ul></li>
<li>2017-NOV-14: talked to ian regarding this project and added him to
'contributors' blurb.</li>
<li>2017-JAN-23: "Instant noodles also contain high levels of monosodium
glutamate, an <a href="https://en.wikipedia.org/wiki/Excitotoxicity">excitotoxin</a> that can cause damage or death to nerve cells by
over-stimulating them.  Damaged nerve cells are a factor in the development
of debilitating neurological conditions like Alzheimer's disease,
Parkinson's disease and ALS." -- <a
href="http://www.opposingviews.com/i/health/heres-why-you-should-stop-eating-instant-noodles-immediately">opposingviews.com</a></li>
<li>2016-DEC-25:
 <ul>
 <li>is <a
href="https://www.google.com/search?q=msg+neurotoxin&ie=utf-8&oe=utf-8">msg
a neurotoxin</a>?</li>
 <li>if MSG is determined to be Evil, what is stopping food manufacturers
from being sneaky and making a chemically very similar product and thus
dodge the FDA?</li>
 </ul>
<li>2016-DEC-21:
  <ul>
   <li>how does MSG suppress the immune system (assuming it does)? (ty KG)</li>
   <li>does eliminating gluten from the diet universally eliminate MSG? ("ottis")</li>
   <li>MSG in "KFC Green Beans" (see KFC nutrition guide, filter for MSG)</li>
   <li>restaurants are not required to disclose recipe info because it is a
   <a href="https://en.wikipedia.org/wiki/Trade_secret">Trade Secret</a>. this is different than grocery items which are
   regulated by the FDA</li>
   <li>does MSG accumulate? if so, for how long before flushed?</li>
   <li>is MSG soluable?</li>
   <li>not many people are diagnosed w CRS. most times (imo), they are diagnosed
   with things like <a
   href="https://en.wikipedia.org/wiki/Outline_of_diabetes">diabetes</a>, <a
   href="https://en.wikipedia.org/wiki/Multiple_sclerosis">MS</a>, etc which are much more serious</li>
   <li>glutamate occurs naturally in a few different places. MSG is manufactured.
   there <i>is</i> a difference.</li>
   <li>MSG has been shown to be a neurotoxin (<a
   href="https://www.google.com/search?q=msg+neurotoxin&ie=utf-8&oe=utf-8">google
   msg neurotoxin</a>)</li>
   <li>maybe "MSG does not quickly break down" is the real problem here</li>
  </ul>
</li>
<li>2016-DEC-19: in-depth discussion via phone regarding this project w dad
including the revelation that there is an amount of MSG that the gov
considers "safe"</li>
<li>2016-DEC-18: dad contributed "first job is to find a statistically
significant sample of people diagnosed with CFS" and, when I gave him a link
to this page, a firm "I will get back to you... don't get your hopes up" when
I proposed that MSG supresses the immune system.</li>
<li>2016-DEC-07: "<a href="http://www.raysahelian.com/glutamate.html">Glutamate</a>" naturally occurs in the body which might explain why the immune system has a hard time dealing with the
	<a href="https://en.wikipedia.org/wiki/Chemical_similarity">chemically
similar</a> "MSG"</li>
<li>2016-SEP-12: added "randy h" to list of contributors</li>
<li>2016-AUG-01: updated project goals</li>
<li>2016-JUL-06: updated goals to include testing for <b>quantity</b> of MSG, since gov't has guidelines about how much is "safe"</li>
<li>2016-MAR-14: updated keywords and title for this site; updated project goals; added note about 'subway' to the list of nutrition guides</li>
<li>2016-FEB-12: started petition on whitehouse.gov and shared to fb</li>
<li>2016-JAN-21: sent 2nd email to emich.edu chemistry dept contact. fixed "health links" page section.</li>
<li>2016-JAN-13: sent feedback using webform to <a href="https://en.wikipedia.org/wiki/President_of_the_United_States">POTUS</a> asking him to have a look at this site.</li>
<li>2015-DEC-??: email problems fixed without reason-for-outage from the provider. mentioning IPv6 seemed to help them resolve my issues, but not until several emails related to this project had bounced.</li>
<li>2015-DEC-11: sent email to chemistry !at! furman dot edu asking about use of MS</li>
<li>2015-DEC-12: sent email to dsnyder *at* emich. edu (chemistry dept co-op contact)</li>
<li>2015-NOV-25: within the last 7 days I emailed the address in charge of booking use of the "mass spectrometer" at <a href="//umich.edu/">umich</a>. the mail bounced, but I made progress in the effort.</li>
<li><a href="http://www.sisweb.com/referenc/sites/univ-ms.htm">University Mass Spectrometer Facilities</a> (most links dead)</li>
<li> MSG has a <a
href="http://en.wikipedia.org/wiki/CAS_Registry_Number">CAS Registration
Number</a> of <a
href="http://en.wikipedia.org/wiki/Monosodium_glutamate">142-47-2</a>, a <a href="http://www.chemspider.com/Chemical-Structure.76943.html">ChemSpider number of 76943</a>, an <a href="https://en.wikipedia.org/wiki/European_Community_number">ECN of 205-538-1</a>. These
codes can be used by lab equipment to detect monosodium glutamate (MSG). Hidden ingredients have their own codes.</li>

<li>because MSG contains sodium (Na), it can be used as a preservative</li>
<li><i>Mono-sodium Glutamate (which is Manufactured Free Glutamic Acid and
<i>does not</i> occur in nature) is a
<b>man-made ingredient</b> used to alter our perception of taste in thousands of
grocery store products.  It tricks our brains into perceiving a more
enhanced taste than actually exists in processed foods.  More and more
consumers are onto this deception and are looking to steer clear of
Monosodium Glutamate and the other products that contain Manufactured
Glutamic Acid.</i> -- from <a
href="http://foodidentitytheft.com/culprits/msg/">food identity
theft</a></li>

<li>Phil: "as far as I know, MSG puts the immune system on guard". Me: "ya, just like <a href="https://www.google.com/search?q=pearl+harbor+photos+then+and+now&biw=1366&bih=631&source=lnms&tbm=isch&sa=X&ved=0ahUKEwit16HU8bvKAhVGNSYKHbAXBA4Q_AUIBigB">pearl harbor</a>"
Phil: oooooh</li>
<li><a href="https://en.wikipedia.org/wiki/Category:Flavour_enhancers">flavour enhancers</a> page on wikipedia</li>
<li><i>some</i> of the supposedly hidden names for monosodium glutamate (MSG) used to get a "<a href="https://de.wikipedia.org/wiki/Clean_Labelling">clean label (German)</a>" (<a href="https://translate.google.com/translate?hl=en&sl=de&tl=en&u=https%3A%2F%2Fde.wikipedia.org%2Fwiki%2FClean_Labelling">English version by Google Translate</a>). this list needs independent verification. list copy-pasted without explicit permission from <a href="http://foodidentitytheft.com/culprits/msg/">Hidden Monosodium Glutamate</a>
 <ul>
  <li>Autolyzed Plant Protein</li>
  <li><a href="https://en.wikipedia.org/wiki/Yeast_extract">Yeast Extract</a></li>
  <li>Calcium Caseinate</li>
  <li>Glutamate</li>
  <li>Hydrolyzed Plant Protein (HPP)</li>
  <li>Hydrolyzed Vegetable Protein (HVP)</li>
  <li><a href="https://en.wikipedia.org/wiki/Maltodextrin">Maltodextrin</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Monopotassium_glutamate">Monopotassium Glutamate</a></li>
  <li>Sodium Caseinate</li>
  <li>Soy Protein Concentrate</li>
  <li>Textured Protein</li>
  <li>Yeast Food or Nutrient</li>
 </ul>
</li>
<li><cite>Don't make the mistake of thinking that it is okay to eat this stuff
occasionally, because these ingredients can stick around in your body for a
long time, leach nutrients from your system, and can make you really sick. 
As put by my pal Kristen Michaelis at FoodRenegade.com, “Not only is MSG not
a traditional food, not only are many people immediately sensitive to it,
but it can also interrupt the hormonal and biological development of
children!  Lest you think this is all fanciful, it’s important to remember
that a number of studies have found that the effects of MSG can occur
cumulatively over time with subsequent exposure.</cite> -- <a
href="http://foodbabe.com/2014/03/23/if-youve-ever-eaten-pizza-before-this-will-blow-your-mind/">food
babe</a>

<li>MSG does not make you sick directly; it lowers your body's ability to fight infection and disease.</li>
<li>Monosodium Glutamate <a href="http://www.merriam-webster.com/dictionary/exacerbate">exacerbates</a> symptoms</li>
<li>Some people are on a restricted diet where they need to count every miligram of sodium. Sodium is one of the two components (the other being glutamate) in monosodium glutamate (thanks pmc).</li>
<li>"In 1908, Japanese chemist Kikunae Ikeda isolated and <b>patented a manufacturing process for monosodium glutamate</b>, more commonly known to English-speakers of the 21st century as the often-maligned MSG." -- from <a href="http://paleofuture.gizmodo.com/umami-was-coined-by-the-inventor-of-msg-to-describe-i-693953580">“Umami” Was Coined by the Inventor of MSG to Describe Its Taste</a></li>

<li>In <a href="http://www.amazon.com/gp/product/B009G9Z42K/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B009G9Z42K&linkCode=as2&tag=zoidtechnolog-20&linkId=F2GYQQXEQ2KVIYUG">You Only Live Twice</a>
 James Bond "claims he's trying to steal the secret to making MSG" -- <a href="http://www.hitfix.com/motion-captured/james-bond-declassified-file-5-you-only-live-twice-rewrites-fleming-completely">James Bond Declassified: File #5 - 'You Only Live Twice' rewrites Fleming completely</a></li>

<li>"MSG plays a role <em>often in secret</em> in products on almost every shelf of the supermarket." -- <a href="http://www.theguardian.com/lifeandstyle/2005/jul/10/foodanddrink.features3">If MSG is so bad for you, why doesn't everyone in Asia have a headache?</a> (the guardian)</li>
<li>If MSG is "safe", why does it have so many <a href="http://www.msgmyth.com/hidden_names_for_msg.html">hidden names</a> (like <a href="https://en.wikipedia.org/wiki/Disodium_guanylate">Disodium guanylate</a> and <a href="https://en.wikipedia.org/wiki/Disodium_inosinate">Disodium-Inosinate</a> amongst many others, see <a href="http://preventdisease.com/home/tips100.shtml">MSG Lurks As A Slow Poison In Common Food Items Without Your Knowledge</a> for more) or is left off of the ingredient list entirely in clear violation of FDA regulations?</li>
<li>Why is it so difficult to find out which QSRs use MSG? The crews don't seem to know what MSG <em>is</em> much less if their employer uses it. most often they open a can of pizza sauce or a package of cold cuts and are not paid enough to care what is in it. also the packages rarely list ingredients so even if they <em>do</em> care, they do not know for sure.</li>
<li>in <em>very</em> small doses, the affect MSG has on the immune system is nothing much to worry about. the problem starts when just about everything in the typical American diet contains the stuff and the effects are cumulative. it adds up quick.</li>
<li>this project is worthy of <a href="http://amzn.to/1TqzpoE">a healthy grant</a>. there is too much anecdotal evidence.</li>
<li>morally speaking I will no longer spend money on food items that I know contain MSG. I do not want to allow anyone to be poisoned on my dime.</li>

</ul>
</div>
</div>
