<div class="blurb">
<ul>
<li> <a href="https://www.pringles.com/us/products/wavy/wavy-fire-roasted-jalapeno.html">PRINGLES&reg; WAVY FIRE ROASTED JALAPE&Ntilde;O CRISPS</a> @since 20220106 @onlabel @achilles</li>
<li> <a href="https://www.pringles.com/us/products/scorchin/pringles-crisps-extra-hot.html">PRINGLES&reg; SCORCHIN' CHILI & LIME CRISPS</a> @since 20220106 @onlabel @achilles</li>
<li> <a href="https://www.pringles.com/us/products/scorchin/pringles-crisps-scorchin-bbq-super-stack.html">PRINGLES&reg; SCORCHIN’ BBQ CRISPS</a> @since 20220106 @onlabel @achilles</li>
<li> <a href="https://www.pringles.com/us/products/scorchin/pringles-crisps-scorchin-cheese-super-stack.html">PRINGLES&reg; SCORCHIN’ CHEDDAR CRISPS</a> @since 20220106 @onlabel @achilles</li>
<li> <a href="https://www.pringles.com/us/products/favorites/ranch.html">PRINGLES® RANCH CRISPS</a> @since 20220106 @achilles</li>
<li> <a href="https://www.ruffles.com/products/ruffles-cheddar-sour-cream-flavored-potato-chips">RUFFLES&reg; CHEDDAR & SOUR CREAM FLAVORED POTATO CHIPS</a> Monosodium Glutamate</li>
</ul>
</div>
