<div class="blurb">
<div class="header"><h1>Is MSG Manufactured? (2024-10-10)</h1></div>
<div class="body">

<p>Yes, MSG (monosodium glutamate) is a manufactured product. While glutamate itself is a naturally occurring amino acid found in many foods, MSG is specifically produced in a laboratory through a fermentation process. This involves using microorganisms to break down plant-based materials like sugarcane or corn, resulting in the production of glutamic acid, which is then combined with sodium to form MSG <sup><a href="#src-gemini-1">1</a>.</sup></p>

<h2>Sources</h2>
<ol>
<li id="src-gemini-1"><a href="https://www.fda.gov/food/food-additives-petitions/questions-and-answers-monosodium-glutamate-msg">Questions and Answers on Monosodium glutamate (MSG)</a> - FDA (2012)<br>https://www.fda.gov/food/food-additives-petitions/questions-and-answers-monosodium-glutamate-msg</li>
</ol>

</div>
</div>