<div class="blurb">
{*<div class="header"><h1>goals</h1></div>*}
<div class="body">
<ul>
<li>conduct lab testing to determine <i>quantity</i> of MSG and DSG in a food
item</li>
<li>regulation changes
 <ul>
 <li> clearly show flavor enhancers and quantity (MSG/DSG/etc) on package labels and menus</li>
 <li> significant penalties for obfuscation and non-compliance</li>
 </ul>
</li>
<li>correct website(s) which claim MSG occurs naturally in cheese and
related falsehoods</li>
<li>frequent field testing (secret shoppers)</li>
<li>an information system to track food items</li>
<li>update this website as needed with new or updated information</li>
</ul>

<h2>archive</h2>
<ul>
<li> gather a <a href="https://en.wikipedia.org/wiki/Statistical_significance">statistically significant</a> group with a
<a href="https://en.wiktionary.org/wiki/Chinese_restaurant_syndrome">Chinese Restaurant Syndrome</a>
or <accr title="Mono-Sodium Glutamate">MSG</accr> Symptom Complex <a href="https://en.wikipedia.org/wiki/Diagnosis">diagnosis</a>
<strike>(very difficult considering <a
href="https://en.wikipedia.org/wiki/Health_Insurance_Portability_and_Accountability_Act">HIPAA</a>
in the U.S.).</strike>. This can work wrt privacy if patients
voluntarily enter their data into an information system, and if that data is
scrubbed of <a href="https://www.csoonline.com/article/3215864/how-to-protect-personally-identifiable-information-pii-under-gdpr.html">Personally Identifiable Information</a> (PII).</li>
<li> lobby to improve labeling enforcement for <accr title="Quick
Service Restaurants (Fast Food)">QSR</accr>, packaged and frozen foods (ref. hot dogs, cold cuts, frozen pizza,
frozen meals, delivery pizza, etc)</li>
<li> produce and distribute a field test kit which tests for the <b>quantity of MSG and related compounds</b> in a wet or dry sample.</li>
<li> build, operate, and maintain an information system that tracks processed food products, their UPC labels if available, and whether or not the item has MSG in it (determined via lab testing
<i>and</i> personal experience) and if MSG is on the label or, in the case of a QSR
or family dining restaurant (chain or single), <i>clearly</i> on their nutrition guide and/or menu.</li>
<li> conduct scientific tests to prove beyond a reasonable doubt that <a
href="http://www.cancer.org/cancer/cancercauses/othercarcinogens/athome/talcum-powder-and-cancer">Talcum Powder and
Ovarian Cancer</a> are not linked</li>
<li> test to find out how long MSG stays in the body (cumulative?)</li>
<li> test to find out how long free glutamic acid stays in the body (cumulative too?)</li>
<li> compare the chemistry of '<a
href="https://en.wikipedia.org/wiki/Gluten">gluten</a>', '<a
href="https://en.wikipedia.org/wiki/Glutamate_%28neurotransmitter%29">glutamate</a>', and 'manufactured free
<a href="https://en.wikipedia.org/wiki/Glutamic_acid">glutamic acid</a>'</li>
<li> find out the <a href="https://en.wikipedia.org/wiki/Soluability">soluability</a> of MSG.</li>
<li> partner with universities and enterprise to test samples and submit results to the information system</li>
<li> earn a healthy long term grant (10+ years)</li>
<li>lobby to change regs at <accr title="Food and Drug Administration">FDA</accr>
 <ul>
 <li> all restaurants and processed food manufacturers must
clearly <i>disclose an accurate quantity of MSG/DSG and in what menu items</i> so the consumer can make an
informed choice.
 <li>the new regs must be strictly enforced with regular field testing using "secret shoppers" (ref: consumer reports) and effective
penalties for non-compliance, not limited to <a href="https://en.wikipedia.org/wiki/Online_shaming">&quot;online shaming&quot;</a></li>
<li>MSG and related compounds must be shown as an accurate quantity alongside sodium, sugar, etc</li>
</ul></li>
<li>update this website regularly with new compounds used for flavor enhancement and other useful information</li>
</ul>
</div> {* body *}
</div> {* blurb *}
