<div class="blurb">
{*<div class="header"><h1>nutrition guides</h1></div>*}
<div class="body">
<ul>
<li><a href="https://en.wikipedia.org/wiki/Gordon_Food_Service">wikipedia: Gordon Food Service (GFS)</a> and <a href="https://www.gfs.ca/sites/gfscanada.com/files/Calgary_Product_Guide.pdf">GFS 2016 Product Guide (Canada)</a></li>
<li><a href="http://www.bk.com/pdfs/nutrition.pdf">Burger King&reg; Nutrition Guide</a> (PDF)
 <ul>
 <li>as of 2023-10-05: blank page</li>
 <li>as of 2024-06-26 blank page</li>
 </ul>
</li>
<li><a href="https://www.wendys.com/redesign/wendys/pdf/en_US_nutrition.pdf">Wendy's&reg; Nutrition Guide</a> (PDF) (no mention of MSG, does not mean they are clean)</li>
<li><a href="http://nutrition.mcdonalds.com/getnutrition/ingredientslist.pdf">McDonald's&reg; Ingredients List</a> (PDF) (NO MSG disclosure as of 2016-NOV-26)</li>
<li><a href="http://www.kfc.com/nutrition/pdf/kfc_nutrition.pdf">KFC&reg; Nutrition Guide</a> (PDF) and (more importantly) <a href="https://www.kfc.com/nutrition/food-allergies-and-sensitivities">food allergies and
sensitivities</a> update 2020-mar-16: as of today, kfc does not show any of their products containing msg. if that is really the case, they will have to somehow prove it to me. if they are lying, that is supposed to be illegal.</li>
<li><a href="http://www.subway.com/en-US/nutrition/">subway nutrition guide</a>.
be wary of sauces and cold cuts</li>
<li>was unable to find a to-the-point nutrition guide for <a
href="https://www.chick-fil-a.com/">chick-fil-a</a>. their <a
href="https://www.chick-fil-a.com/-/media/Files/CFACOM/CFA_Allergens_1280_4.ashx">allergens</a>
PDF was 18megabytes of empty pages on my fedora workstation. as a result, <i>highly
suspect</i> chick-fil-a of using MSG
<ul>
<li>update: 2017-nov-19: only 5 pages of blank pdf</li>
<li>update: 2018-May-26: nutrition guide does not load.</li>
<li>update 2020-mar-16: allergen information yields an error about not being able to find a layout template. they appear to have replaced their nutrition guide with a blog.</li>
<li>update 2021-nov-10: the allergens link has been moved to <a href="https://www.chick-fil-a.com/nutrition-allergens">nutrition-allergens</a>. no mention of MSG anywhere</li>
<li>update 2023-oct-05: "page not found"</li>
<li>update 2024-jun-26: page not found</li>
</ul>
<li>Which Frito-Lay Snacks do not contain added MSG?
<p>Monosodium Glutamate (MSG) is an ingredient derived from glutamic acid, an amino acid present in most food products.  MSG is used in American cooking because of its desirable effect on flavor.  In order to maintain the taste that consumers have grown to love in Frito-Lay snacks, we use extremely low levels of MSG in some products to enhance flavor. 
</p>
<p>In accordance with the U.S. Food and Drug Administration (FDA) regulations, we list MSG in the ingredient statement whenever it is used so consumers will always know if MSG is added. It is never included as an unnamed flavor or
spice.</p>
<p>It may be helpful to know which of our seasonings are made without added MSG.  You'll find this complete list of snacks by clicking
<a href="https://www.fritolay.com/nutrition/special-dietary-needs/us-products-with-no-added-msg.htm">here</a>.</p>
<p>source: <a href="https://contact.pepsico.com/fritolay/article/which-frito-lay-snacks-do-not-contain-added-msg">Which Frito-Lay Snacks do not contain added
MSG?</a> on 2024-06-26</p>
</li>
</ul>
</div> {* body *}
</div> {* blurb *}
