<div class="blurb">
<div class="header"><h1>How Long Do MSG Symptoms Last?</h1></div>
<div class="body">

<p>It is not clear how long symptoms of sensitivity to MSG (monosodium glutamate)
may last, as this can vary from person to person. Some people may experience
symptoms shortly after consuming MSG, while others may not experience
symptoms until several hours later. The severity and duration of symptoms may
also vary <sup><a href="#src-symptime-1">1</a>.</sup></p>

<p>Symptoms of sensitivity to MSG are often referred to as "MSG symptom complex" or
"Chinese restaurant syndrome," although the term "Chinese restaurant syndrome" is not
recognized by the scientific community and the relationship between MSG and these
symptoms is not well understood. Symptoms that have been associated with MSG
sensitivity include headache, facial pressure or tightness, flushing, and numbness or
tingling in the face, neck, and other areas of the body <sup><a href="#src-symptime-2">2</a>.</sup></p>

<p>If you experience symptoms after consuming foods that contain MSG and are concerned about
the potential effects of MSG on your health, it is recommended to pay attention to
your symptoms and to be aware of the ingredients that are used in the foods you eat.
If you experience symptoms after consuming MSG, you may want to consider avoiding or limiting
your intake of foods that contain MSG. However, it is important to note that MSG is not
considered harmful to most people and can be consumed as part of a healthy diet
in appropriate amounts.</p>

<h2>Sources</h2>
<ol>
<li id="src-symptime-1"><a href="https://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/expert-answers/monosodium-glutamate/faq-20058196">Monosodium glutamate, also called MSG: Is it harmful?</a> - Mayo Clinic<br>https://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/expert-answers/monosodium-glutamate/faq-20058196</li>
<li id="src-symptime-2"><a href="https://www.fda.gov/food/food-additives-petitions/questions-and-answers-monosodium-glutamate-msg">Questions and Answers on Monosodium glutamate (MSG)</a> - FDA (2012)<br>https://www.fda.gov/food/food-additives-petitions/questions-and-answers-monosodium-glutamate-msg</li>
</ol>

</div>
</div>