<div class="blurb">
<div class="body">

<p>Yes, MSG and disodium glutamate are <strike>the same
thing</strike><b>flavor enhancers</b>.  MSG stands for
monosodium glutamate, and disodium glutamate is <strike>simply</strike> the double-sodium
form of MSG.  Both refer to <strike>the same substance, which is</strike> a flavor enhancer
that is commonly used in a variety of foods to improve their taste and make
them more appealing.  <strike>MSG</strike> <b>glutamate</b> is a naturally occurring amino acid that is found
in many foods, including tomatoes, cheese, and mushrooms. <strike> It is not
inherently harmful, but some people may be sensitive to it and experience
symptoms such as headaches or facial pressure when consuming it.</strike>  If you are
concerned about consuming MSG, it is recommended to <span class="highlight">read food labels
carefully</span> and to <span class="highlight">be aware of the ingredients that are used in the foods you
eat.</span></p>

</div>
</div>
