<div class="blurb">
<div class="body">
<p>Proteins are large biomolecules that are made up of smaller units called
amino acids.  There are 20 different amino acids that can be used to build
proteins, and each amino acid has a unique chemical structure.</p>
<p>Glutamate is one of the 20 amino acids that can be found in proteins. 
When it is part of a protein, it is known as a protein-bound glutamate.</p>
<p>The chemical name for protein-bound glutamate is "L-glutamate." The "L"
in the name refers to the fact that the amino acid is in the
L-configuration, which is one of two possible configurations that an amino
acid can adopt.  The other configuration is called the D-configuration.</p>

<p>Protein-bound glutamate can be found in many different proteins in the
body, including enzymes, hormones, and structural proteins.  It is an
important component of protein and plays a key role in many functions within
the body.  </p>

</div>
</div>
