<div class="blurb">
<div class="body">
<ul>
<li> MSG and related compounds are commonly used as flavor enhancers in processed foods and QSRs in the United States</li>
<li> The USFDA says that up to 30miligrams of MSG may be consumed without food
(@see <a href="https://www.fda.gov/food/food-additives-petitions/questions-and-answers-monosodium-glutamate-msg">Questions and Answers on Monosodium glutamate
(MSG)</a>)</li>
<li> Restaurants in the United States are not yet required to disclose use of MSG or any other part of their recipes</li>
<li> Beware of "disodium glutayate", too</li>
<li> labeling laws have not yet been updated to show quantity of MSG/etc which is required to stay under the FDA's limit.</li>
<li> Always. Check. Labels.</li>
<li> extra care must be taken with quick service restaurants and processed foods</li>
</ul>
</div>
</div>
