{extends file="page.tmpl"}
{block name="title"}zoid technologies - achilles - project timeline{/block}
{block name="main"}
<div class="blurb">
<div class="header"><h1>Timeline</h1></div>
<div class="body">
<ul>

<li>1997 or 1998 (noc): constipation, sensitive to light and sound
on a nightly basis (whenever I was working, and especially a couple of hours
after ordering in) culminating in 4-5 hours where I was "passed out".  I
would wake up embarrassed re: being unproductive, refreshed and symptom free.</li>

<li>2008: after my sister made an appt with a doc for my symptoms, I had a
big project so I went to Subway for several days in a row.  constipation
cleared up, sinus/cold/bad skin breakouts started to heal.  at that point I
realized that the problem was with my food.  also around this time I learned
that MSG is used "off label".  </li>

<li>july 5, 2014: experienced bad sinus pain and pressure along with tons of
nose blowing (severe alergies?).  spent quite a bit of money on pills from
the local drugstore to get symptoms under control long enough that I could
keep a doctor's appointment.  also learned that because I was a "new
patient", they could not see me until 6 weeks later (september, 2014).</li>

<li>late july, 2014: went to minute clinic.  prescribed mucinex-d,
antibiotic, encouraged to take tylenol sinus; "CFS" (Chinese Food Syndrome)
noted on my medical record.</li>

<li>august, 2014: found that the trouble was with the "pace salsa" that I
had purchased at Walmart and that I had been eating on for at least 6
weeks.</li>

<li>august, 23, 2014: "turkey chili" mom gave me caused more constipation,
sinus trouble, etc</li>

<li>august, 2014: published achilles website</li>
<li>october, 2023: updated 'goals' section</li>

</ul>
</div>
</div>
{/block}
