<div class="blurb">
<div class="header"><h1>us military using msg during korea</h1></div>
<div class="body">
<p>Yes, the U.S. military did use
monosodium glutamate (MSG) during the Korean War era to enhance the flavor and palatability of military rations.</p>
<p>Following World War II, the U.S. military actively researched ways to improve the taste of bland, canned field rations. Observations had been made that American soldiers in the Pacific theater during WWII sometimes preferred Japanese rations, which contained the MSG seasoning, to their own. </p>
<p>This led to increased appreciation and research into MSG's effectiveness, and the U.S. military found that adding it to rations could boost their acceptability among soldiers. A domestic MSG product branded as "Ac'cent" was launched in the U.S. and gained popularity in the 1950s, a period that encompassed the Korean War. MSG was a topic of interest at military food symposiums during this time, specifically for its ability to improve the flavor of military rations.</p>
</div>
</div>
