@import "vars";
@import "mixins";

header#pageheader {
	flex: 0 1 auto;
	background-color: $pageheader-backgroundcolor;
	border: $pageheader-border;
	overflow: hidden;
	font-family: pageheaderfont;
	font-size: large;
	text-align: center;
	.est2002 {
		font-family: estfont;
	}

	.body {
		color: $pageheader-textcolor;
		border: $pageheader-border;
	}
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 2.0em;
	}

	a {
		color: white;
	}
}

@font-face {
	font-family: estfont;
	src: url("https://zoidtechnologies.com/static/skin/fonts/BFTinyHand-Regular.otf");
}
