@import "vars";
@import "mixins";

body {
	a {
		color: $page-anchor-color;
		background-color: $page-anchor-backgroundcolor;
		margin: $page-margin;
		&:visited {
			color: $page-anchor-visited-color;
			background-color: $page-anchor-visited-backgroundcolor;
			@include transition(all 0.125s);
		}
		&:hover {
			color: $page-anchor-hover-color;
			background-color: $page-anchor-hover-backgroundcolor;
			@include transition(all 0.125s);
		}
	}
}
