@import "vars";

.arrow {
    transition: transform 0.3s ease;
    font-size: 0.8em;
}

/* Rotate the arrow 90 degrees when the section is open */
.arrow.open {
    transform: rotate(90deg);
}

.blurb.section {
    border: none;
    margin: $blurb-margin;
//    border-bottom: $blurb-border;

    .header {
        cursor: pointer;
        user-select: none;
    }

    .body {
        cursor: pointer;
        /* This border-top comes from blurb.scss but is visible only when open */
//        border-top: $blurb-border; // 0.125em solid $blurb-border-color; 
//	border:0.25em solid black;
    }
//    .body {
//	border: 1.0em solid yellow;
//    }
}
