<div class="blurb">
<div class="header"><h1>Does MSG Exacerbate Existing Symptoms?</h1></div>
<div class="body">

<p>Some people may be sensitive to MSG (monosodium glutamate) and may experience symptoms such as headaches, facial pressure, or flushing when consuming it. These symptoms are often referred to as "MSG symptom complex" or "Chinese restaurant syndrome," although the term "Chinese restaurant syndrome" is not recognized by the scientific community and the relationship between MSG and these symptoms is not well understood <sup><a href="#src-symp-1">1</a>, <a href="#src-symp-2">2</a>.</sup></p>

<p>There have been a number of studies conducted on the effects of MSG on human health, and the evidence does not consistently support a link between MSG and the symptoms described above. While some people may be sensitive to MSG and may experience symptoms when consuming it, it is not clear whether these symptoms are caused by MSG or by other factors <sup><a href="#src-symp-3">3</a>, <a href="#src-symp-4">4</a>.</sup></p>

<p>If you are concerned about the potential effects of MSG on your health, it is recommended to pay attention to your symptoms and to be aware of the ingredients that are used in the foods you eat. If you experience symptoms after consuming foods that contain MSG, you may want to consider avoiding or limiting your intake of these foods. However, it is important to note that MSG is not considered harmful to most people and can be consumed as part of a healthy diet in appropriate amounts.</p>

<h2>Sources</h2>
<ol>
<li id="src-symp-1"><a href="https://link.springer.com/article/10.1186/s10194-016-0639-4">Does monosodium glutamate really cause headache? A systematic review of human studies</a> - The Journal of Headache and Pain (2016)<br>https://link.springer.com/article/10.1186/s10194-016-0639-4</li>
<li id="src-symp-2"><a href="https://link.springer.com/article/10.1007/s11916-023-01198-z">Unraveling the MSG-Headache Controversy</a> - Current Pain and Headache Reports (2023)<br>https://link.springer.com/article/10.1007/s11916-023-01198-z</li>
<li id="src-symp-3"><a href="https://onlinelibrary.wiley.com/doi/10.1111/j.1745-7599.2006.00160.x">Reconsidering the effects of monosodium glutamate: A literature review</a> - Journal of the American Academy of Nurse Practitioners (2006)<br>https://onlinelibrary.wiley.com/doi/10.1111/j.1745-7599.2006.00160.x</li>
<li id="src-symp-4"><a href="https://www.nature.com/articles/227611a0">Monosodium Glutamate and the Chinese Restaurant Syndrome</a> - Nature (1970)<br>https://www.nature.com/articles/227611a0</li>
</ol>

</div>
</div>