<div class="blurb">
<div class="header"><h1>Is MSG in Cheese?</h1></div>
<div class="body">

<p>Yes, monosodium glutamate (MSG) can occur naturally in cheese. It is a
flavor enhancing compound that is present in many types of cheese, including
Parmesan, blue cheese, and Roquefort. It is also found in other foods such as
meats, soups, and processed snack foods. Glutamate is a naturally occurring
amino acid that is found in many protein-containing foods and is used as a
flavor enhancer in some products <sup><a href="#src-cheese-1">1</a>, <a href="#src-cheese-2">2</a></sup>.</p>

<p>Aged cheeses like Parmesan (Parmigiano-Reggiano) contain particularly high levels of glutamate - up to 1,680 mg per 100g in 24-month aged cheese, rising to 2,220 mg in 48-month aged cheese <sup><a href="#src-cheese-3">3</a>.</p>

<h2>Sources</h2>
<ol>
<li id="src-cheese-1"><a href="https://www.umamiinfo.com/richfood/foodstuff/cheese.php">Cheese</a> - Umami Information Center<br>https://www.umamiinfo.com/richfood/foodstuff/cheese.php</li>
<li id="src-cheese-2"><a href="https://cheesescientist.com/science/cheese-umami/">Why Some Cheeses Have an Umami Taste</a> - The Cheese Scientist (2024)<br>https://cheesescientist.com/science/cheese-umami/</li>
<li id="src-cheese-3"><a href="https://cycheese.com/article/is-parmesan-cheese-umami">The Magic Of Parmesan: Unlocking Umami</a> - CyCheese (2025)<br>https://cycheese.com/article/is-parmesan-cheese-umami</li>
</ol>

</div>
</div>