<div class="blurb">
<div class="header"><h1>MSG Same as Disodium?</h1></div>
<div class="body">

<p>Yes, MSG and disodium glutamate are both flavor enhancers. MSG stands for
monosodium glutamate, and disodium glutamate is the double-sodium form of
MSG. Both refer to a flavor enhancer that is commonly used in a variety of
foods to improve their taste and make them more appealing <sup><a href="#src-dsg-1">1</a>.</sup> Glutamate is a
naturally occurring amino acid that is found in many foods, including
tomatoes, cheese, and mushrooms. It is not inherently harmful, but some people
may be sensitive to it and experience symptoms such as headaches or facial
pressure when consuming it. If you are concerned about consuming MSG, it is
recommended to read food labels carefully and to be aware of the ingredients
that are used in the foods you eat.</p>

<h2>Sources</h2>
<ol>
<li id="src-dsg-1"><a href="https://foodadditives.net/flavor-enhancer/disodium-guanylate/">What Is Disodium Guanylate (E627) - Uses, Safety, Side Effects</a> - FoodAdditives.net (2020)<br>https://foodadditives.net/flavor-enhancer/disodium-guanylate/</li>
</ol>

</div>
</div>