{extends file="page.tmpl"}
{block name="pageheader"}
<div class="body">
<h1>project achilles</h1>
<h2>a study of monosodium glutamate (MSG)</h2>
</div>
{/block}
{block name="head" append}
{* <script src="/skin/js/achilles.js"></script> *}
<link rel="stylesheet" type="text/css" href="/skin/css/achilles.css" media="screen" />
{/block}
{block name="title"}achilles - the study of the affects of MSG (monosodium
glutamate) on the human body{/block}
{block name="content"}
<div class="blurb">
<div class="header"><h1>achilles</h1></div>
<div class="body"><p>project achilles studies the affect of <abbr title="monosodium glutamate">MSG</abbr> on the
human body.</p>
</div> {* body *}
</div> {* blurb *}

<div class="blurb">
<div class="header warning"><h1>warning</h1></div>
<div class="body"><span style="color: yellow;" class="fa fa-warning fa-lg"></span>
<span>For <b>medical</b> or <b>nutritional advice</b>, <i>do not rely on this
site</i>. Please <b>consult a dietician or health care professional</b> instead.</span>
</div>
</div>

<div class="blurb">
<div class="header"><h1>whitehouse petition</h1></div>
<div class="body">
<p>when I checked the link on 2017-jun-06, the whitehouse petition I
made is a "white screen of death". considering the politics under POTUS45, I am
not going to pursue another petition at this time.</p>
</div>
</div>

<div class="blurb">
<div class="header"><h1>goals</h1></div>
<div class="body">
<ul>
<li> gather a <a href="https://en.wikipedia.org/wiki/Statistical_significance">statistically significant</a> group with a Chinese Food Syndrome
or MSG Symptom Complex <a href="https://en.wikipedia.org/wiki/Diagnosis">diagnosis</a>
<strike>(very difficult considering <a
href="https://en.wikipedia.org/wiki/Health_Insurance_Portability_and_Accountability_Act">HIPAA</a>
in the U.S.).</span></strike>. This can work wrt privacy if patients
voluntarily enter their data into an information system, and if that data is
subsequently scrubbed of <a href="https://www.csoonline.com/article/3215864/how-to-protect-personally-identifiable-information-pii-under-gdpr.html">Personally Identifiable Information</a> (PII).</li>
<li> lobby to improve labeling law enforcement for QSRs (Fast Food), packaged foods (ref. hot dogs, cold cuts, frozen pizza, etc)</li>
<li> produce and distribute a field test kit which tests for the <b>quantity of MSG</b> (monosodium glutamate) in a wet or dry sample.</li>
<li> build, operate, and maintain an information system that tracks various processed food products
regulated by the FDA, their UPC labels if available, and whether or not the item has MSG in it (determined via lab testing
<i>and</i> personal opinion) and if MSG is on the label or, in the case of a QSR
or family dining restaurant (chain or single), <i>clearly</i> on their nutrition guide and/or menu.</li>
<li> conduct scientific tests to prove beyond a reasonable doubt that <a
href="http://www.cancer.org/cancer/cancercauses/othercarcinogens/athome/talcum-powder-and-cancer">Talcum Powder and
Ovarian Cancer</a> are not linked</li>
<li> test to find out how long MSG stays in the body (cumulative?)</li>
<li> test to find out how long free glutamic acid stays in the body (cumulative too?)</li>
<li> compare the chemistry of '<a
href="https://en.wikipedia.org/wiki/Gluten">gluten</a>', '<a
href="https://en.wikipedia.org/wiki/Glutamate_%28neurotransmitter%29">glutamate</a>', and 'manufactured free
<a href="https://en.wikipedia.org/wiki/Glutamic_acid">glutamic acid</a>'</li>
<li> find out the <a href="https://en.wikipedia.org/wiki/Solubility">soluability</a> of MSG.</li>
<li> partner with universities and enterprise to test samples and submit results to the planned information system</li>
<li> earn a healthy long term grant (10+ years)</li>
<li> lobby to change regulations such that restaurants (especially QSRs) must
clearly disclose use and quantity of MSG <i>and in what menu items</i> so the consumer can make an
informed choice. the new regs must be strictly enforced with regular field
testing using "secret shoppers" (ref: consumer reports) and effective
penalties for non-compliance, not limited to "internet shaming"</li>
<li>added msg should be shown as a quantity alongside sodium, sugar, etc</li>
<li>maintain a list of <i>hidden names</i> for MSG, including <i>disodium
glutayate</i> (first hand, 202008, Innovasion)</li>
</ul>
</div> {* body *}
</div> {* blurb *}

<div class="blurb">
<div class="header"><h1>summary</h1></div>
<div class="body">
<ul>
<li>I will grudgingly accept MSG occuring naturally in things like cheese.
What I need to know is how much MSG is being added to my food, so I can make
sure I consume a safe level.
<li>some diseases seem to come from nowhere:
 <ul>
  <li><a href="https://en.wikipedia.org/wiki/Diabetes">diabetes</a> -- virus, genetic</li>
  <li><a href="https://en.wikipedia.org/wiki/Multiple_sclerosis">multiple sclerosis</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Parkinson%27s_disease">Parkinson's disease</a></li>
 </ul>
<li>MSG = monosodium + glutamate</li>
<li>glutamate is one of 20 ammino acids</li>
<li>it is *possible* for msg to form during the cooking process, thus the term "no msg" is "impossible". correct term is "no added msg"</li>
<li>"<a href="https://medlineplus.gov/ency/article/001126.htm">MSG Symptoms Complex</a>" is a newer name for "Chinese Restaurant Syndrome"</li>
<li>glutamate is a <a href="https://en.wikipedia.org/wiki/Neurotransmitter">neurotransmitter</a>, which is part of the normal function of the
body</li>
<li><a href="https://en.wikipedia.org/wiki/Excitotoxicity">Excitotoxicity</a> -- too much glutamate</li>
<li>any restaurant is going to see MSG as one way to lower food cost</li>
<li>the body does not need to make it's own glutamic acid. it comes from food typically bound to protein</li>
<li>no chef worth their jacket would use MSG in their kitchen(s)</li>
{*<li>lots of sodium and glutamate can cause problems</li>*}
<li>sodium from table salt plus sodium from MSG = ?</li>
<li>"Glutamate excitotoxicity (sometimes called a glutamatergic storm) refers to the damage to nerve cells caused by excessive stimulation of NMDA and AMPA receptors by glutamate.” Jul 2, 2018
source: <a href="https://neurohacker.com/what-is-glutamate">What is Glutamate?</a> -- too much glutamate</li>
<li>"NMDA is an unfortunate acronym for N-methyl-D-aspartate, and this amino acid derivative is very similar to glutamate. Now glutamate is the excitatory neurotransmitter found in most synapses of the central nervous system, and pharmacologists made this analogue called NMDA to activate a sub-type of glutamate
receptors." -- source: <a href="https://dnalc.cshl.edu/view/1211-What-is-NMDA-.html">what is NMDA</a></li>
<li>"AMPA (α-amino-3-hydroxy-5-methyl-4-isoxazolepropionic acid) is a compound that is a specific agonist for the AMPA receptor, where it mimics the effects of the neurotransmitter glutamate. ... AMPA generates fast excitatory postsynaptic potentials
(EPSP)." -- source <a href="https://en.wikipedia.org/wiki/AMPA">wikipedia
AMPA</a></li>
<li>"In excitotoxicity, nerve cells suffer damage or death when the levels of otherwise necessary and safe neurotransmitters such as
glutamate,..." -- source <a href="https://en.wikipedia.org/wiki/Excitotoxicity">wikipedia Excitotoxicity</a></li>
<li>"An excitatory postsynaptic potential (EPSP) is the change in membrane voltage of a postsynaptic cell following the influx of positively charged ions into a cell (typically Na+) as a result of the activation of ligand-sensitive
channels." -- source <a href="https://link.springer.com/referenceworkentry/10.1007%2F978-3-540-68706-1_618">Encyclopedia of Psychopharmacology (2010)</a></li>
<li>"Chronic inflammation of the pancreas can damage the cells that produce insulin which can lead to diabetes. Pancreatitis and type 2 diabetes share some of the same risk factors. Observational studies indicate that people with type 2 diabetes may have a two- to threefold increased risk of acute
pancreatitis." -- source <a href="https://www.healthline.com/health/diabetes-and-pancreas">The Connection Between Diabetes and Your Pancreas</a></li>
<li>"It refers to a group of symptoms some people experience after eating food from a Chinese restaurant. Today, it's known as MSG symptom complex. These symptoms often include headache, skin flushing, and sweating. A food additive called monosodium glutamate (MSG) is often blamed for these
symptoms." (2012) -- source <a
href="https://www.healthline.com/health/chinese-restaurant-syndrome">Chinese
Restaurant Complex and MSG Symptom Complex</a></li>
{*
<li>sodium == Na, mono == one</li>
<li>table salt is NaCl (sodium chloride)</li>
<li>MSG breaks down into sodium ("flavor enhancer", "umami") and unbound ("free") glutamic acid</li>
<li>glutamic acid is weak, but it can still cause damage</li>
*}
</ul>
</div>
</div>

{include file="nutrition-guides.tmpl"}

{include file="changelog.tmpl"}

{if count($data.healthlinks) > 0}
<div class="blurb">
<div class="header">
  <h1>{count($data.healthlinks)} links from "{teos path="top.achilles"}" sig on <a href="{$smarty.const.TEOSURL}">teos</a></h1>
</div>
</div> {* blurb *}
<ul class="nobullets">
{foreach $data.healthlinks as $link}
<li>{include link=$link file="vulcan-terse.tmpl" showsig=False}</li>
{/foreach}
</ul>
{/if}
{/block} {* main *}
